<div class="md-toolbar-tools">
    <md-button ng-click="main.openSidebar()" ng-if="main.$mdMedia('sm')" class="md-icon-button" aria-label="Menu">
        <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/production/ic_menu_24px.svg"></md-icon>
    </md-button>

    <span flex></span>

    <md-button class="md-icon-button" aria-label="Attachments">
        <md-icon md-svg-icon="bower_components/material-design-icons/editor/svg/production/ic_insert_drive_file_24px.svg"></md-icon>
        Attachments
    </md-button>
    <!-- <md-button class="md-icon-button" aria-label="Keyboard" ng-click="main.showBottomSheet()">
        <md-icon md-svg-icon="bower_components/material-design-icons/hardware/svg/production/ic_keyboard_24px.svg"></md-icon>
    </md-button> -->
    <md-button class="md-icon-button" aria-label="Exit" ng-click="main.actorService.setLoggedOut()">
        <md-icon md-svg-icon="bower_components/material-design-icons/action/svg/production/ic_exit_to_app_24px.svg"></md-icon>
    </md-button>

</div>
