.toolbar {
  &__search {
    position: relative;

    width: 200px;
    margin-right: 8px;

    transition: width 200ms ease-out;
    .search-icon {
      font-size: 22px;
      line-height: 24px;

      position: absolute;
      top: 6px;
      left: 10px;

      pointer-events: none;

      color: rgba(black, .25);
    }
    .close-icon {
      font-size: 20px;

      position: absolute;
      top: 8px;
      right: 8px;

      cursor: pointer;

      color: rgba(black, .25);
      &:hover {
        color: rgba(black, .5);
      }
    }
    .input {
      padding-left: 38px;
      &:focus {
        @include focused();
      }
    }

    &--focused {
      width: 340px;
      .input {
        @include focused();
      }
    }
  }
}
