@import '../../assets/fonts/Material Icons/material-icons.css';

@mixin font-face($family, $file, $style: normal, $weight: normal) {
  $fonts-folder: '../../assets/fonts';
  $path: $fonts-folder + '/' + $family + '/' + $file;

  @font-face {
    font-family: '#{$family}';
    font-style:  $style;
    font-weight: $weight;

    src: url($path + '.eot');
    src: url($path + '.eot?#iefix') format('embedded-opentype'),
         url($path + '.woff') format('woff'),
         url($path + '.woff2') format('woff2'),
         url($path + '.ttf')  format('truetype');

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* RobotoDraft */
// @include font-face(RobotoDraft, RobotoDraft-Light, normal, 300);
// @include font-face(RobotoDraft, RobotoDraft-Regular, normal, 400);
// @include font-face(RobotoDraft, RobotoDraft-Medium, normal, 500);
// @include font-face(RobotoDraft, RobotoDraft-Bold, normal, 700);

/* Roboto */
@include font-face(Roboto, roboto-light, normal, 300);
@include font-face(Roboto, roboto-regular, normal, 400);
@include font-face(Roboto, roboto-medium, normal, 500);
@include font-face(Roboto, roboto-bold, normal, 700);
