html,
body {
  box-sizing: border-box;

  background-color: $body-background-color;

  @include app-sizes();
}

body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  overflow: hidden !important;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.overflow {
    overflow: auto !important;
  }
}

// main styles
.app {
  position: relative;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  transition: padding $default-transition-duration, opacity 350ms ease-out;
}

.main {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, .2);

  flex: 1;
  .flexrow {
    display: flex;
    flex-direction: row;

    flex: 1;
    .dialog {
      display: flex;
      flex-direction: column;

      flex: 1;
    }
  }
}

// splash screen
.splash-screen {
  background-color: $body-base-color;

  @include overlay();
  .logo {
    width: 200px;
    height: 200px;

    background-image: url(../../assets/images/logo_splash.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

// remove paddings and margins from flexbox grid
.row {
  margin: 0;
}

[class*='col'] {
  padding: 0;
}

// material icons
.material-icons {
  vertical-align: middle;
}

// colors
.color {
  &--empty {
    color: $color-empty;
  }
  &--lblue {
    color: $color-lblue;
  }
  &--blue {
    color: $color-blue;
  }
  &--purple {
    color: $color-purple;
  }
  &--red {
    color: $color-red;
  }
  &--orange {
    color: $color-orange;
  }
  &--yellow {
    color: $color-yellow;
  }
  &--green {
    color: $color-green;
  }
}

// Links
.link {
  cursor: pointer !important;
  &--blue {
    color: $dark-sky-blue;
  }
  &--red {
    color: $coral-pink;
  }
}

.mobile-placeholder {
  position: relative;

  min-height: 100%;
  padding: 30px 30px 0;

  text-align: center;

  color: white;
  > div {
    min-height: 100%;
  }
  @media screen and (max-width: 300px) {
    h1 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
  }
  h1,
  h2,
  h3 {
    font-weight: 300;

    margin-bottom: 40px;
    b {
      font-weight: 400;
    }
  }
  p {
    font-size: 22px;
    line-height: 30px;

    padding-bottom: 0;
  }
  a {
    font-weight: 400;

    margin: 0 10px;

    color: white;
  }
}

// Rotating icons
.material-icons {
  &.spin {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
