.icon {
  display: inline-block;

  width: 24px;
  height: 24px;
  stroke-width: 0;

  vertical-align: middle;

  &--gray {
    color: $greyish;
    fill: $greyish;
  }
  &--green {
    color: $apple;
    fill: $apple;
  }
  &--squash {
    color: $squash;
    fill: $squash;
  }
  &--pink {
    color: $coral-pink;
    fill: $coral-pink;
  }
  &--blue {
    color: $dark-sky-blue;
    fill: $dark-sky-blue;
  }

  &--dropdown {
    color: rgba(0,0,0,.25);
    fill: rgba(0,0,0,.25);
  }
}

.icon,
.material-icons {
  @include no-select();
}

.icon-favorite:before {
  font-family: 'Material Icons';
  content: 'favorite';
}

.icon-done:before {
  font-family: 'Material Icons';
  content: 'done';
}

.icon-done_all:before {
  font-family: 'Material Icons';
  content: 'done_all';
}

.icon-access_time:before {
  font-family: 'Material Icons';
  content: 'access_time';
}

.icon-report_problem:before {
  font-family: 'Material Icons';
  content: 'report_problem';
}

.icon-check:before {
  font-family: 'Material Icons';
  content: 'check';
}
