.logger {

  width: 500px;
  overflow: hidden;
  font: 12px Monaco, monospace;
  color: $mine-shaft;
  padding: 0;

  .scroll-wrapper {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__body {}
  &__filter {}

  &__container {
    padding: 8px 0;
  }

  &__controls {
    box-sizing: border-box;
    margin-top: 14px;
    float: right;
  }

  .log-entry {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 4px 8px 6px;
    line-height: 16px;
    &:hover {
      background-color: rgba(black , .05);
    }

    &__tag {
      font-weight: 500;
      &:after {
        content: ': ';
      }
    }

    &--info {}
    &--error {
      .log-entry__tag {
        color: $coral;
      }
    }
    &--warning {
      .log-entry__tag {
        color: $color-orange;
      }
    }
    &--debug {
      .log-entry__tag {
        color: $dark-grey-blue;
      }
    }
  }
}
