// PACE
//@keyframes pace-spinner {
//  0% {
//    transform: rotate(0deg);
//  }
//  100% {
//    transform: rotate(360deg);
//  }
//}

.pace {
  user-select: none;
  pointer-events: none;

  .pace-progress {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;

    width: 100%;
    height: 3px;

    background: white;
  }
  //.pace-activity {
  //  position: fixed;
  //  z-index: 2000;
  //  top: 16px;
  //  left: 16px;
  //
  //  display: block;
  //
  //  width: 28px;
  //  height: 28px;
  //
  //  animation: pace-spinner 500ms linear infinite;
  //
  //  border: solid 2px transparent;
  //  border-top-color: white;
  //  border-left-color: white;
  //  border-radius: 100%;
  //}
  &.pace-inactive {
    display: none;
  }
}

.pace-running {
  .splash-screen {
    z-index: 1;

    opacity: 1;
  }
  .app,
  .login-new,
  .mobile-placeholder {
    z-index: 0;

    opacity: 0;
  }
}

.pace-done {
  .splash-screen {
    z-index: 0;

    transition: opacity 250ms ease;

    opacity: 0;
  }
  .app,
  .login-new,
  .mobile-placeholder {
    z-index: 1;

    opacity: 1;
  }
}
