@keyframes bouncedelay {
  0%,
  100%,
  80% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.typing {
  //position: absolute;
  //z-index: 11;
  //bottom: 140px;
  //display: block;
  //width: 100%;
  height: $typing-height;
  padding: 0 32px;

  transition: opacity $default-transition-duration $default-transition-timing;

  opacity: 1;
  //color: #d8d8d8;
  //i {
  //  line-height: $typing-height;
  //
  //  margin: 0 18px;
  //
  //  vertical-align: middle;
  //}
  span {
    font-size: 14px;
    line-height: $typing-height;

    display: inline-block;

    vertical-align: middle;

    color: #b4b4b4;
  }
  &--hidden {
    opacity: 0;
  }
}

.typing-indicator {
  display: inline-block;

  width: 24px;
  margin: 0 20px 0 18px;

  vertical-align: middle;
  i {
    line-height: 0;

    position: relative;

    display: inline-block;

    width: 6px;
    height: 6px;
    margin: 0 1px;

    transform-origin: center center;
    animation: bouncedelay 1.3s infinite linear;

    border-radius: 50%;
    background-color: #d8d8d8;
    &:nth-child(2) {
      animation-delay: .3s;
    }
    &:nth-child(3) {
      animation-delay: .6s;
    }
  }
}
