.sidebar__button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 20px;
  color: rgba(white, .8);
  box-sizing: border-box;

  @include no-select();
  cursor: pointer;

  &__icon {
    font-size: 20px;
    line-height: 20px;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin-right: 12px;
    .material-icons {
      vertical-align: top;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 500;

    display: inline-block;

    vertical-align: middle;
    text-transform: uppercase;
  }

  &:hover {
    background-color: $dusk;
  }

  &--active {
    background-color: $dark-sky-blue !important;
  }
}
