<div class="compose" ng-show="compose.isEnabled" ng-controller="composeController as compose">

        <textarea class="compose__message"
                  ng-model="compose.message"
                  ng-keyup="compose.onTyping()"
                  enter-submit="compose.sendMessage()"
                  placeholder="Type your message...">
        </textarea>

        <footer layout="row" class="compose__footer">


            <md-button class="md-icon-button" aria-label="Send file" ng-click="compose.openFileDialog()">
                <md-icon md-svg-icon="assets/img/icons/ic_attachment_24px.svg"></md-icon>
                Send file
            </md-button>
            <md-button class="md-icon-button" aria-label="Send photo" ng-click="compose.openPhotoDialog()">
              <md-icon md-svg-icon="assets/img/icons/ic_photo_camera_24px.svg"></md-icon>
              Send photo
            </md-button>

            <span flex></span>
            <md-checkbox aria-label="Send by enter"
                         class="md-primary"
                         ng-model="compose.sendByEnter"
                         ng-init="compose.sendByEnter = true"
                         ng-class="{'selected': compose.sendByEnter}">
                Send by enter ⏎
              <md-tooltip ng-if="!compose.sendByEnter">
                Send by enter
              </md-tooltip>
            </md-checkbox>
            <md-button class="md-primary md-raised md-big" ng-click="compose.sendMessage()" ng-hide="compose.sendByEnter">Send</md-button>

        </footer>

        <div class="compose__hidden">
            <input type="file" id="file" name="file"
                   onchange="angular.element(this).scope().compose.fileSelected()">
            <input type="file" id="photo" name="photo"
                   onchange="angular.element(this).scope().compose.photoSelected()">
        </div>

</div>
