@import '../../styles/variables';

.compose {
  position: absolute;
  bottom: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;
  &__message {
    font-size: 13px;

    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-height: 64px;
    margin-bottom: 8px;
    padding: 8px;

    resize: none;

    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: none !important;
  }
  &__footer {
    margin: 0;
    .button {
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
