<!DOCTYPE html>
<html ng-app="actorWeb">
<head>
    <title>Actor</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Actor Web">
    <link rel="apple-touch-icon" href="assets/img/ios_logo_96x96.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/ios_logo_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/ios_logo_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/ios_logo_152x152.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#4B6D97">
    <meta name="msapplication-TileImage" content="assets/img/win8_logo_144x144.png">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="assets/img/favicon_logo_32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/img/favicon_logo_96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/img/favicon_logo_160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="assets/img/favicon_logo_196x196.png" sizes="196x196">

    <!-- build:css(./bower_components/) assets/css/vendor.css -->
    <link rel="stylesheet" href="normalize.css/normalize.css">
    <link rel="stylesheet" href="angular-material/angular-material.min.css">
    <link rel="stylesheet" href="highlightjs/styles/default.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body layout="row" ng-controller="mainController as main">

<div ng-if="!main.actorService.isReady" class="splash-screen" layout="row" layout-align="center center">
    <img src="assets/img/logo_152x152.png" alt="Actor"/>
</div>

<div ng-if="main.actorService.isReady" ui-view class="app" layout="row"></div>

<script src="ActorMessenger/ActorMessenger.nocache.js"></body>
<script src="angular/angular.js"></script>
<script type="application/javascript">
    angular.module('actorWeb', [
        'ui.router',
        'react',
        'ngMaterial',
        'ngSanitize',
        'angular-inview',
        'luegg.directives'
    ]);
</script>

<!-- build:js(./bower_components/) assets/js/lib.js -->
<script src="CryptoJS/build/components/core.js"></script>
<script src="CryptoJS/build/components/sha256.js"></script>
<script src="highlightjs/highlight.pack.js"></script>
<script src="marked/lib/marked.js"></script>
<script src="jsencrypt/bin/jsencrypt.js"></script>

<script src="assets/js/app-js.js"></script>

<script src="ngReact/ngReact.js"></script>
<script src="angular-ui-router/release/angular-ui-router.js"></script>
<script src="angular-aria/angular-aria.js"></script>
<script src="angular-animate/angular-animate.js"></script>
<script src="angular-material/angular-material.js"></script>
<script src="angular-scroll-glue/src/scrollglue.js"></script>
<script src="angular-sanitize/angular-sanitize.js"></script>
<script src="angular-inview/angular-inview.js"></script>
<!-- endbuild -->


<script src="assets/js/app-coffee.js"></script>

</body>
</html>
