.dark-theme {
  .main {
    background: darken($bismark, 30%);
  }

  .sidebar,
  .activity,
  .compose__message {
    background: darken($bismark, 15%);
    color: #fff;
  }

  .message__timestamp,
  .toolbar__peer__title,
  .message__sender__name,
  .message__sender__nick {
    color: #C7C7C7 !important;
  }

  .message {
    .text {
      color: darken(#fff, 50%);
    }

    .service {
      color: darken(#fff, 80%);
    }
  }

  .button {
    color: transparentize(#fff, 0.5);

    &--icon {
      color: transparentize(#fff, 0.25);
    }
  }

  .group_profile__meta__title {
    color: invert(#575757);
  }

  .group_profile__meta__created {
    color: transparentize(#fff, 0.3);
  }

  .profile__list__item {
    color: invert(#4d4d4d);
  }

  .status--sent {
    color: invert(rgba(57, 57, 57, 0.3));
  }
}
