.compose {
  border-top: 1px solid rgb(237,236,236);
  background-color: rgb(249,249,249);
  padding: 12px 16px;
  &__message {
    border: 1px solid rgb(216,216,216);
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    padding: 8px;
    font-size: 13px;
    min-height: 64px;
    margin-bottom: 12px;
  }
  &__footer {
    color: rgb(144,144,144);
    .md-icon-button {
      margin-right: 4px;
      md-icon {
        margin-right: 4px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
