target/
.ensime_cache
application.conf
actor-tests/journal
actor-tests/snapshots
actor-dashboard/logs
.idea/workspace.xml
.idea/tasks.xml
.idea/find.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/libraries
.idea
src/main/resources/logback.xml
data
*.iml
gwt_dist.zip
actor-build/dist
actor-apps/library/actor-common/build
actor-apps/library/actor-js/build
actor-apps/build
actor-apps/library/core-js/build
local.properties
