target/
.ensime_cache
actor-server/src/main/resources/application.conf
actor-server/actor-tests/src/test/resources/application.conf
actor-server/actor-testkit/src/test/resources/application.conf
actor-server/actor-testkit/src/main/resources/application.conf
actor-tests/journal
actor-tests/snapshots
actor-dashboard/logs
.idea/workspace.xml
.idea/tasks.xml
.idea/find.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/libraries
.idea
.gradle
src/main/resources/logback.xml
data
local.properties
*.iml
gwt_dist.zip
actor-build/dist
actor-apps/library/actor-common/build
actor-apps/library/actor-js/build
actor-apps/build
actor-apps/library/core-js/build
actor-apps/build-scripts/dist
actor-apps/build-tools/dist
actor-api/language/languages/im.actor.apiLanguage/source_gen
actor-api/language/languages/im.actor.apiLanguage/source_gen.caches
actor-api/language/languages/im.actor.apiLanguage/sandbox/source_gen.caches
actor-api/language/languages/im.actor.apiLanguage/sandbox/classes_gen
actor-api/language/languages/im.actor.apiLanguage/sandbox/source_gen
actor-api/language/languages/im.actor.apiLanguage/classes_gen
actor-api/api-language/languages/im.actor.apiLanguage/classes_gen
actor-api/api-language/languages/im.actor.apiLanguage/source_gen
actor-api/api-language/solutions/im.actor.api/source_gen.caches
actor-api/api-language/solutions/im.actor.api/source_gen
actor-api/api-language/languages/im.actor.apiLanguage/source_gen.caches
actor-api/api-language/languages/im.actor.apiLanguage/sandbox/source_gen
actor-api/api-language/languages/im.actor.apiLanguage/sandbox/source_gen.caches
actor-api/api-language/languages/im.actor.apiLanguage/sandbox/classes_gen
workspace.xml
actor-apps/build-tools/codegen-java/build
actor-apps/build-tools/configen/build
actor-apps/app-android/build
actor-apps/core-async-android/build
actor-apps/core-async/build
actor-apps/core-crypto/build
actor-apps/core/build
actor-apps/core-js/build
actor-apps/app-web/node_modules
actor-apps/app-web/bower_components
actor-apps/app-web/dist
actor-apps/app-web/electron_dist
actor-apps/app-ios/build
actor-apps/app-ios/Pods
actor-apps/app-ios/Core/runtime
actor-apps/app-ios/Core/j2objc
actor-apps/app-ios/Core/core
actor-apps/app-ios/ActorApp.xcworkspace/xcuserdata
*.class
actor-api/api-language/solutions/im.actor.api/classes_gen
report.xml
ActorApp.app.dSYM.zip
ActorApp.ipa
actor-apps/app-ios/_floatsignTemp
Podfile.lock
actor-apps/app-cli/build
actor-apps/core-async-ui/build
actor-apps/core-java/build
actor-apps/core-mem/build
actor-apps/core-async-tcp/build
actor-apps/core-android-free/build
actor-apps/core-android-google/build
actor-apps/core-android/build
actor-apps/app-ios/ActorApp.xcworkspace
actor-apps/app-ios/Actor-Build
actor-apps/runtime-android/build
actor-apps/runtime/build
actor-apps/runtime-js/build
actor-apps/runtime-js/war
actor-apps/core-cocoa/build
actor-apps/core-cocoa/src/gen
actor-apps/runtime-cocoa/src/gen
actor-apps/runtime-cocoa/build
actor-apps/app-ios/Core/Build
actor-apps/app-ios/Core
actor-apps/app-ios/ActorCore/Sources
actor-apps/app-ios/ActorCore/Build
actor-apps/app-ios/ActorApp.xcodeproj/xcuserdata
actor-integrations/teamcity/build
actor-sdk/sdk-api/api-language/languages/im.actor.apiLanguage/classes_gen
actor-sdk/sdk-api/api-language/languages/im.actor.apiLanguage/source_gen.caches
actor-sdk/sdk-api/api-language/languages/im.actor.apiLanguage/source_gen
actor-sdk/sdk-core/build
actor-sdk/sdk-core/core/android/build
actor-sdk/sdk-core/core/cocoa/build
actor-sdk/sdk-core/core/js/build
actor-sdk/sdk-core/core/js/war
actor-sdk/sdk-core/core/shared/build
actor-sdk/sdk-core/runtime/android/build
actor-sdk/sdk-core/runtime/cocoa/build
actor-sdk/sdk-core/runtime/js/build
actor-sdk/sdk-core/runtime/shared/build
actor-sdk/sdk-ios/ActorApp.xcodeproj/project.xcworkspace/xcuserdata
actor-sdk/sdk-ios/ActorApp.xcodeproj/xcuserdata
actor-sdk/sdk-ios/ActorSDK.xcodeproj/project.xcworkspace/xcuserdata
actor-sdk/sdk-ios/ActorSDK.xcworkspace/xcuserdata
actor-sdk/sdk-ios/Pods
actor-sdk/sdk-ios/ActorSDK.xcodeproj/xcuserdata
actor-sdk/sdk-ios/ActorSDK.xcworkspace
actor-sdk/sdk-extension/ext/build
actor-sdk/sdk-app/ios/ActorApp.xcodeproj/xcuserdata
actor-sdk/sdk-app/ios/ActorApp.xcworkspace/xcuserdata
actor-sdk/sdk-app/ios/Pods
actor-sdk/sdk-app/ios/ActorApp.xcodeproj/project.xcworkspace/xcuserdata
actor-sdk/sdk-ios/build
actor-sdk/sdk-app/shared/Sources
actor-sdk/sdk
actor-sdk/sdk-core/build-tools/codegen-java/build
actor-sdk/sdk-core/build-tools/dist
actor-sdk/sdk-core/sdk-android/build
actor-sdk/sdk-core/app-android/build
npm-debug.log
actor-deps/dist
actor-sdk/sdk-core/core/core-js/build
build
actor-sdk/sdk-core/runtime/js/war
actor-sdk/sdk-core-ios/ActorSDK.xcodeproj/project.xcworkspace/xcuserdata
actor-sdk/sdk-core-ios/ActorApp.xcodeproj/project.xcworkspace/xcuserdata
actor-sdk/sdk-core-ios/Pods
actor-sdk/sdk-core-ios/ActorSDK.xcworkspace
actor-deps/dist
gradle.properties
actor-sdk/sdk-core/core/core-js/war
actor-sdk/sdk-core/runtime/runtime-js/war
node_modules
dist
actor-sdk/sdk-api/api-language/solutions/im.actor.api/source_gen
actor-sdk/sdk-api/api-language/solutions/im.actor.api/source_gen.caches
actor-sdk/sdk-api/api-language/solutions/im.actor.api/classes_gen
