<div flex layout="column" layout-align="center center" ng-controller="loginController as login">
    <div class="login">
        <div class="login__message">
          <p ng-if="!login.isCodeRequested">Please enter your full phone number for recieve authorization code.</p>
          <p ng-if="login.isCodeRequested" ng-hide="login.isSignUp">We sent authorization code to your phone. Please enter it below.</p>
          <p ng-if="login.isSignUp">To complete registration, please enter your name below.</p>
        </div>
        <form name="authPhoneForm"
              role="form"
              ng-submit="login.requestSms(login.phone)">
            <md-input-container>
                <label>Phone number</label>
                <input required
                       type="tel"
                       ng-model="login.phone"
                       name="phone"
                       ng-disabled="login.isCodeRequested">
            </md-input-container>
            <footer layout="row" ng-if="!login.isCodeRequested">
                <span flex></span>
                <md-button class="md-primary md-raised md-big">Request code</md-button>
            </footer>
        </form>
        <form name="authCodeForm"
              role="form"
              ng-submit="login.sendCode(login.code)"
              ng-if="login.isCodeRequested">
            <md-input-container>
                <label>Auth code</label>
                <input required
                       focus-me
                       type="text"
                       ng-model="login.code"
                       ng-disabled="login.isSignUp">
            </md-input-container>
            <footer layout="row" ng-if="!login.isSignUp">
                <a href="" ng-click="login.wrongNumber()">Wrong number?</a>
                <span flex></span>
                <md-button class="md-primary md-raised md-big">Validate code</md-button>
            </footer>

        </form>
        <form name="signUp"
              role="form"
              ng-submit="login.signUp(login.name)"
              ng-if="login.isSignUp">
            <md-input-container>
                <label>Name</label>
                <input required focus-me type="text" ng-model="login.name">
            </md-input-container>
            <footer layout="row">
                <span flex></span>
                <md-button class="md-primary md-raised md-big">Finish</md-button>
            </footer>
        </form>

    </div>
</div>
