.call__smart-button {
  transition: background ($default-transition-duration * 2) $default-transition-duration $default-transition-timing;

  border-radius: 100px !important;
  .material-icons {
    font-size: 22px;
    transition: transform ($default-transition-duration * 2) $default-transition-duration $default-transition-timing;
  }
  span {
    font-size: 12px;
    line-height: 24px;

    display: inline-block;

    margin: 0 4px 0 8px;

    text-transform: initial;
  }

  &--in-call {
    padding-right: 8px;
    padding-left: 8px;

    color: white !important;
    background-color: $dark-mint !important;
    &:hover {
      background-color: $ticklish !important;
      .material-icons {
        transform: rotate(135deg);
      }
    }
  }
}
