# Set you KeyStore location and passwords for sign builds and rename this file to android.keys

mobile_api_url_1="tls://front1-mtproto-api-rev2.actor.im"
mobile_api_url_2="tls://front2-mtproto-api-rev2.actor.im"

web_api_url_1="wss://front1-ws-mtproto-api-rev2.actor.im"
web_api_url_2="wss://front2-ws-mtproto-api-rev2.actor.im"

webApiId=3
webApiKey=278f13e07eee8398b189bced0db2cf66703d1746e2b541d85f5b42b1641aae0e

androidApiId=1
androidApiKey=4295f9666fad3faf2d04277fe7a0c40ff39a85d313de5348ad8ffa650ad71855
androidHockeyApp=48746ea78e12b511f4be45701b540996

iOSApiId=2
iOSApiKey=2ccdc3699149eac0a13926c77ca84e504afd68b4f399602e06d68002ace965a3
iOSHockeyApp=8eb459f9f555b0344ea2dff9f8afc1a7

androidMixpanel=<MixPanel_token>
iOSMixpanel=<MixPanel_token>

androidTheme=
androidProjectId=<your_gmc_project_id>
androidStore=<full_path_to_keystore>
androidStorePass=<pass_for_keystore>
androidAlias=<key_alias>
androidAliasPass=<key_alias_password>