@import '../../styles/variables';

.messages-list
{
    &__item
    {
        &__avatar
        {
            //margin: 16px 16px 16px 0;
            margin: 8px 16px 16px 0;
        }
        &__body
        {
            //margin: 12px 0 8px;
            margin: 4px 0 8px;
            &__title
            {
                font-size: 14px;
                font-weight: 500;
                line-height: 12px;

                height: 12px;
                margin: 6px 0 4px;

                color: rgb(22,22,22);
            }
            &__timestamp
            {
                font-size: 12px;

                text-transform: lowercase;

                color: rgb(190,190,190);
            }
            > p
            {
                font-size: 13px;
                font-weight: 400;
                line-height: 22px;

                margin: 4px 0 0;

                word-wrap: break-word;

                color: rgb(37,37,37);
                &.unsupported
                {
                    color: rgba(red,.3);
                }
                &.service
                {
                    text-align: center;

                    color: rgba(black,.3);
                }
            }
        }

        &__photo
        {
            position: relative;

            display: inline-block;

            background-color: rgba($baseColor, .05);
            img
            {
                margin-top: 6px;
                max-width: 300px;
                height: auto;
                @media (max-width: 396px) {
                    max-width: 100%;
                }
            }
            &__original
            {
                position: absolute;
            }
        }
        &__document
        {
            display: inline-block;

            padding: 10px 10px 10px 6px;

            color: rgba(0,0,0,.5);
            border-radius: 4px;
            background-color: rgba($baseColor, .05);
            md-icon
            {
                width: 20px;
                height: 20px;
            }
            p
            {
                font-size: 14px;
                line-height: 20px;

                margin: 0;
            }
            a
            {
                text-decoration: none;

                color: $baseColor;
                &:hover
                {
                    text-decoration: underline;
                }
            }
        }
        &__status {
            margin-top: -1px;
            margin-right: 5px;
        }
    }
    &__typing {
        text-align: center;
        p {
            background-color: rgba(0, 0, 0, .03);
            color: rgba(0,0,0,.5);
            border-radius: 4px;
            margin: 0;
            line-height: 16px;
            font-size: 12px;
            display: inline-block;
            padding: 4px 8px;
            margin-bottom: 16px;
        }
        md-icon {
            width: 16px;
            height: 16px;
        }
    }
}
