<md-list flex layout-padding class="messages-list" ng-controller="messagesController as messages" in-view-container>
    <messages messages="messages.list"></messages>
   <md-list-item ng-if="false" class="messages-list__item"
                  ng-repeat="message in messages.list"
                  in-view="messages.setMessageViewed( message.sortKey, message.isOut)"
                  in-view-options="{ debounce: messages.messageDebounce }">

        <div class="messages-list__item__avatar avatar avatar--small avatar--{{ ::message.sender.placeholder }}"
             ng-hide="::message.content.content == 'service'">
            <img ng-src="{{ ::message.sender.avatar }}" alt="{{ ::message.sender.title }}"
                 ng-if="::message.sender.avatar"/>
            <span ng-bind="::message.sender.title | limitTo:1"></span>
        </div>

        <div class="md-list-item-text messages-list__item__body" flex>

            <h3 layout="row" class="messages-list__item__body__title"
                ng-hide="::message.content.content == 'service'">
                <span flex>{{ ::message.sender.title }}</span>

                <div class="messages-list__item__status">
                    <md-icon md-svg-icon="assets/img/icons/ic_access_time_24px.svg"
                             ng-if="::message.state == 'pending'"
                             class="status status--penging"></md-icon>
                    <md-icon md-svg-icon="assets/img/icons/ic_done_24px.svg"
                             ng-if="::message.state == 'sent'"
                             class="status status--sent"></md-icon>
                    <md-icon md-svg-icon="assets/img/icons/ic_done_all_24px.svg"
                             ng-if="::message.state == 'received'"
                             class="status status--received"></md-icon>
                    <md-icon md-svg-icon="assets/img/icons/ic_done_all_24px.svg"
                             ng-if="::message.state == 'read'"
                             class="status status--read"></md-icon>
                    <md-icon md-svg-icon="assets/img/icons/ic_report_problem_24px.svg"
                             ng-if="::message.state == 'error'"
                             class="status status--error"></md-icon>
                </div>

                <time class="messages-list__item__body__timestamp">{{ ::message.date }}</time>
            </h3>

            <p ng-if="::message.content.content == 'text'"
               ng-bind-html="::message.content.text | linky:'_blank' | nl2br"></p>

            <div ng-if="::message.content.content == 'document'"
                 class="messages-list__item__document">
                <p>
                    <md-icon md-svg-icon="assets/img/icons/ic_attach_file_24px.svg"></md-icon>
                    <a href="{{::message.content.fileUrl}}">{{::message.content.fileName}}</a>
                </p>
            </div>

            <div class="messages-list__item__photo" ng-if="::message.content.content == 'photo'">
                <!--<img width="{{ ::message.content.w }}"-->
                     <!--height="{{ ::message.content.h }}"-->
                     <!--data-ng-src="{{ message.content.fileUrl ? message.content.fileUrl : message.content.preview}}">-->
                <img class="messages-list__item__photo__original"
                     width="{{ ::message.content.w }}"
                     height="{{ ::message.content.h }}"
                     ng-if="::message.content.fileUrl"
                     data-ng-src="{{::message.content.fileUrl}}">
                <img class="messages-list__item__photo__preview"
                     width="{{ ::message.content.w }}"
                     height="{{ ::message.content.h }}"
                     data-ng-src="{{::message.content.preview}}">
            </div>

            <p class="service"
               flex
               ng-if="::message.content.content == 'service'"
               ng-bind="::message.content.text"></p>

            <p class="unsupported" ng-if="::message.content.content == 'unsupported'">
                Данный вид контента на данный момент не поддерживается.
            </p>

        </div>
    </md-list-item>
    <div class="messages-list__typing" ng-if="messages.typing !== null">
        <p>
            <md-icon md-svg-icon="assets/img/icons/ic_keyboard_control_24px.svg"></md-icon>
            {{ ::messages.typing }}
        </p>
    </div>
</md-list>

