jdbc {
  url = "jdbc:postgresql://localhost:5432/actor"
  user = "postgres"
  password = ""
  connectionPool = "HikariCP"
  keepAliveConnection = true
}

actor-server {
  persist.sql = ${jdbc}

  akka {
    log-dead-letters = 10
    log-dead-letters-during-shutdown = on
    loglevel = "DEBUG"

    actor {
      debug {
        receive = on
        autoreceive = on
        lifecycle = on
        fsm = on
        event-stream = on
      }
    }

    remote {
      netty.tcp {
        hostname = "127.0.0.1"
        port = 2553
      }
    }

    cluster {
      seed-nodes = [ "akka.tcp://actor-app@127.0.0.1:2553" ]
    }
  }
}
