.stickers {
  position: relative;
  z-index: 16;

  overflow-x: hidden;
  overflow-y: auto;

  box-sizing: border-box;
  width: 100%;
  height: 232px;
  padding: 4px;
  .sticker {
    box-sizing: border-box;
    padding: 3px;

    cursor: pointer !important;

    @include no-select();
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}
