<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="20 seconds">
    <logger name="slick.compiler" level="WARN"/>
    <logger name="slick.ast" level="WARN"/>
    <logger name="akka.stream.impl" level="WARN"/>
    <logger name="org.apache.zookeeper.ClientCnxn" level="WARN"/>
    <logger name="slick.relational.ResultConverterCompiler" level="WARN"/>
    <logger name="slick.jdbc.StatementInvoker.result" level="WARN"/>
    <logger name="slick.jdbc.JdbcBackend.statement" level="WARN"/>
    <logger name="slick.backend.DatabaseComponent.action" level="WARN"/>
    <logger name="slick.jdbc.JdbcBackend.benchmark" level="WARN"/>
    <logger name="im.actor.server.session.ReSender" level="WARN"/>
    <logger name="im.actor.server.session.SessionMessagePublisher" level="WARN"/>
    <logger name="im.actor.server.peermanagers.GroupPeerManager" level="INFO"/>
    <logger name="akka.cluster.sharding.ShardRegion" level="INFO"/>
    <logger name="scalikejdbc.StatementExecutor" level="INFO"/>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover. Make sure the path matches the one in the file element or else
                 the rollover logs are placed in the working directory. -->
            <fileNamePattern>logs/archive/server_%d{yyyy-MM,aux}/%d-%i.log.gz</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history -->
            <maxHistory>365</maxHistory>
        </rollingPolicy>
        <withJansi>true</withJansi>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%X{akkaTimestamp} %highlight(%-5level) %cyan(%logger{36}) %magenta(%X{akkaSource}) %X{authId} %X{sessionId} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="file"/>
    </root>
</configuration>
