$toolbar-height: 48px;
$stem-size: 10px;

.toolbar {
  height: $toolbar-height;

  background-color: $dusky-blue;

  flex: 0 0 auto;
  &__aside {
    box-sizing: border-box;
    width: $sidebar-width;
    padding: 0 16px;

    cursor: default;
    user-select: none;

    span {
      font-size: 20px;
      font-weight: 500;
      line-height: $toolbar-height;

      color: $pale-grey;
    }
  }

  &__search {
    position: relative;
    z-index: 100;

    display: inline-block;

    width: 200px;
    margin: 8px 0;
    padding: 4px 12px;

    cursor: default !important;
    transition: width 100ms ease-in;

    border-radius: 32px;
    background-color: rgb(255, 255, 255);

    .search-icon {
      font-size: 22px;
      line-height: 24px;

      display: inline-block;

      user-select: none;
      pointer-events: none;

      color: rgb(180, 180, 180);
    }
    .close-icon {
      font-size: 16px;
      line-height: 24px;

      cursor: pointer;

      color: rgba($dusky-blue, .7);
      &:hover {
        transform: scale(1.1);

        color: rgba($dusky-blue, .9);
      }
      &:active {
        transform: scale(.98);
      }
    }

    &--focused {
      width: 300px;
      .search-icon {
        color: $dark-sky-blue !important;
      }
    }

    &__input {
      display: inline-flex;

      margin-left: 10px;
      .input {
        font-size: 15px;
        line-height: 24px;

        display: inline-block;

        box-sizing: border-box;
        padding: 0;

        color: $dorado;
        border: none;
        outline: none;
        background-color: transparent;

        @include placeholder($dorado);
      }
    }

    &__results {
      position: relative;
      z-index: 110;

      overflow: scroll;

      box-sizing: border-box;
      max-height: 440px;
      padding: 4px 0;
      header {
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;

        padding: 8px 16px;
      }

      .selected {
        .contact {
          color: white;
          background-color: $dark_sky_blue;
          .material-icons {
            display: block;
          }
        }
      }

      .contact {
        padding: 4px 16px;

        cursor: pointer;
        .material-icons {
          display: none;
        }
      }

      .not-found {
        font-size: 14px;
        line-height: 20px;

        padding: 4px 16px;

        color: rgba(black, .4);
      }
    }
    &__dropdown {
      position: absolute;
      top: 100%;
      left: -4px;

      overflow: hidden;

      width: 308px;
      margin-top: 4px;

      color: rgba($greyish-brown, .6);
      border-radius: $default-border-radius;
      background-color: white;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1);
    }

    .hint {
      padding: 16px;
      h4 {
        font-size: 15px;
        line-height: 20px;

        margin: 0 0 8px;
      }
      p {
        font-size: 14px;
        line-height: 20px;

        margin: 0;
      }
    }

    .selected {
      .toolbar__search__footer {
        color: white;
        background-color: $dark_sky_blue;
      }
    }

    &__footer {
      font-size: 13px;
      font-weight: 500;
      line-height: 24px;

      display: block;

      margin-top: 4px;
      padding: 10px 16px;

      cursor: pointer;
      text-decoration: none;

      color: rgb(150, 150, 150);
      background-color: rgba(black, .01);
      box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .07);
      span {
        line-height: 24px;

        display: inline-block;

        vertical-align: top;
      }
      .material-icons {
        font-size: 16px;
        line-height: 24px;

        margin-left: 4px;

        vertical-align: top;
      }
    }
  }

  &__button {
    padding: 12px 16px;

    cursor: pointer;
    user-select: none;
    vertical-align: top;

    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    &:hover {
      background-color: rgba($baby-blue, .12);
    }
    &:active {
      background-color: rgba($baby-blue, .2);
    }

    &.user-menu {
      padding-right: 10px;
    }
  }
}
