$toolbar-height: 48px;

.toolbar {
  height: $toolbar-height;

  background-color: $dusky-blue;

  flex: 0 0 auto;
  &__aside {
    box-sizing: border-box;
    width: $sidebar-width;
    padding: 0 16px;

    cursor: default;
    user-select: none;

    text-shadow: 0 1px 1px rgba(black, .3);
    span {
      font-size: 20px;
      font-weight: 500;
      line-height: $toolbar-height;

      color: $pale-grey;
    }
  }

  &__search {
    display: inline-block;
  }

  &__button {
    padding: 12px 16px;

    cursor: pointer;
    user-select: none;

    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    text-shadow: 0 1px 1px rgba(black, .3);
    &:hover {
      background-color: rgba($baby-blue, .12);
    }
    &:active {
      background-color: rgba($baby-blue, .2) !important;
    }

    &.user-menu {
      padding-right: 10px;
      .dropdown {
        text-shadow: none;
      }
    }
  }
}
