{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [1, "single"],
    "no-alert": 0,
    "no-underscore-dangle": 0,
    "strict": 0,
    "no-console": 0,
    "no-trailing-spaces": 0,
    "jsx-quotes": 1,
    "react/display-name": 0,
    "react/jsx-boolean-value": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 0,
    "react/wrap-multilines": 1
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "jsx": true,
    "module": true,
    "modules": true,
    "objectLiteralShorthandMethods": true,
    "superInFunctions": true
  },
  "plugins": [
    "react"
  ]
}
