@charset 'UTF-8';
@import 'variables';

html {
  height: 100%;

  background-color: $bodyColor;
}
body {
  font-family: Lato, 'Helvetica Neue', sans-serif;

  box-sizing: border-box;
  height: 100%;

  background-color: $bodyColor;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
}

.splash-screen {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: $baseColor;
  img {
    width: 100px;
    height: 100px;
  }
}

// remove paddings and margins from flexbox grid
.row {
  margin: 0;
}
[class*='col'] {
  padding: 0;
}

//helper classes
.hide {
  display: none;
  visibility: hidden;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
