.about {
  width: 250px;

  text-align: center;
  &__logo {
    width: 128px;
    height: 128px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 22px;
    line-height: 30px;

    text-transform: capitalize;
  }
  &__version {
    //
  }
}
