.blocked-users {
  width: 400px;

  .modal__body {
    padding-bottom: 0;
  }

  .contacts__list {
    overflow-x: hidden;
    overflow-y: auto;

    min-height: 230px;
    max-height: 364px;
    margin: 0;
    padding: ($modal-padding / 2) 0 0;

    list-style: none;

    color: $greyish-brown;
    &__item {
      &--empty {
        padding: ($modal-padding * 2) $modal-padding;
      }
    }
  }

  .contact {
    margin: 0 $modal-padding;
    padding: 7px 0;

    box-shadow: 0 1px 0 0 rgba(black, .05);
    &:last-child {
      box-shadow: none;
    }
  }
}
