@import 'profile/picture-changer';

.modal__content {
  .profile {
    .nick,
    .phone,
    .mail,
    .about {
      padding-top: $modal-padding;
    }

    .about {
      label {
        font-size: 13px;

        color: $dark-sky-blue;
      }

      textarea {
        font-size: 16px;
        line-height: 20px;

        height: 80px;
        margin-top: 4px;
        padding: 8px 6px;
      }
    }

    .modal__footer {
      text-align: right;
      .button {
        margin-left: 8px;
      }
    }
  }
}
