.quick-search {
  width: 460px;
  .header {
    font-size: 11px;
    line-height: 16px;

    padding: 6px 16px;

    cursor: default;
    user-select: none;

    color: rgba(0, 0, 0, .5);

    @include clearfix();
    span,
    strong {
      display: inline-block;
    }
    .pull-right {
      margin-left: 6px;
    }
  }

  .large-search {
    position: relative;
    z-index: 10;

    padding: 0 $modal-padding;
  }

  .results {
    overflow-y: scroll;

    margin: 0;
    padding: 8px 0 0;
    min-height: 176px;
    max-height: 352px;
    &__item {
      line-height: 32px;

      box-sizing: border-box;
      margin: 0;
      padding: 6px 16px;

      list-style: none;

      cursor: pointer;

      color: $mine-shaft;
      .title {
        font-size: 15px;
        line-height: 32px;

        display: inline-block;

        user-select: none;
        vertical-align: middle;

        @include text-elipsis();
      }
      .hint {
        font-size: 13px;
        line-height: 32px;

        display: none;

        text-align: right;
        vertical-align: middle;
      }
      &--active {
        font-weight: 500;

        color: white;
        background-color: $dark-sky-blue;
        text-shadow: 0 1px 1px darken($dark-sky-blue, 10);
        .hint {
          display: inline-block;

          opacity: .7;
        }
      }
      &--suggestion {
        font-weight: 400 !important;

        display: block;

        cursor: default !important;
        text-align: center;

        color: $dove-gray !important;
        background-color: white !important;
        text-shadow: none !important;
        & > span {
          display: block;
        }
        .button {
          margin-top: 10px;
        }
      }
    }
  }
}

.quick-search__avatar {
  margin-right: 12px;
}
