<!DOCTYPE html>
<html ng-app="actorWeb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body ng-cloak ng-controller="mainController as main" layout="row" layout-align="center start" layout-align-sm="start start">

<div class="main" layout="row">
    <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="main.$mdMedia('gt-sm')">
        <md-toolbar>
            <h2 class="md-toolbar-tools"></h2>
        </md-toolbar>
        <md-content></md-content>
    </md-sidenav>
    <div flex layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="main.openSidebar()" ng-if="!main.$mdMedia('gt-sm')" class="md-icon-button" aria-label="Menu">
                    <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/production/ic_menu_36px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding flex id="content"></md-content>

    </div>
</div>

<script src="bower_components/angular/angular.min.js"></script>

<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>

<script src="assets/js/app.js"></script>
</body>
</html>
