<section class="login">
    <md-subheader>Sign in</md-subheader>
    <!--<h2 class="subheader">Sign in</h2>-->
    <form name="loginForm" role="form" class="login__form">
        <p>Please enter your full phone number for recieve authorization code.</p>
        <md-input-container>
            <label>Phone number</label>
            <input required type="tel" name="phone" ng-model="login.phone">
        </md-input-container>
        <footer layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised md-big">Request code</md-button>
        </footer>
    </form>
</section>
