html, body { height: 100%; width: 100%; margin: 0; }

.app_view{
	width: 100%;
	height: 100%
}
@media (max-width: 888px){
	.login_view {
	  max-height: none!important;
	}	
}
@media (max-width: 640px){
	.login_view {
	  background: 0 0!important;
	  padding-left: 0!important;
	  width: 100%!important;
	}
}
.login_view_wrap{ 
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.login_view{
	
	box-shadow: 0 0 10px rgba(0,0,0,.25);
	margin: 0 auto; 
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	background: #f7f7f7 url(../img/auth-splash.jpg) no-repeat scroll 0 0;
	background-size: 320px;
	padding-left: 320px; 
	width: 100%; 
	height: 100%;
	min-height: 320px;
	max-height: 568px;
	max-width: 568px;
	overflow: hidden;
}
.login_wrap{
	background: #fff;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.login_form_wrap{
	padding-top: 25%;
}
.login_form{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	margin: 20px;
}
.login_input{
	outline: none;
	border-radius: 4.5px;
	-webkit-appearance: none;
	background-color: #fff;
	font-family: inherit;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	color: rgba(0,0,0,.75);
	display: block;
	font-size: .93333rem;
	margin: 0 0 1.06667rem;
	padding: .53333rem;
	height: 2.46667rem;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: box-shadow .45s,border-color .45s ease-in-out;
}
.login_input:focus{
	box-shadow: none;
	border-color: #3aa0db;
	background-color: #fff;
}
.login_button{
	border-style: solid;
	border-width: 0;
	cursor: pointer;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	line-height: normal;
	margin: 0 0 1.33333rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	display: inline-block;
	padding-top: 1.06667rem;
	padding-right: 2.13333rem;
	padding-bottom: 1.13333rem;
	padding-left: 2.13333rem;
	font-size: 1.06667rem;
	background-color: #18ad7a;
	border-color: #138a62;
	color: #fff;
	transition: background-color 300ms ease-out;	
	border-radius: 4.5px;
	min-height: 44px;
	padding: 0;
	margin: 0;
	width: 100%;
}
.login_button:hover{
	background-color: #138a62;
	color: #fff;
}
.login_header{
	font-size: 1.53333rem;
	font-weight: 400;
	text-align: center;
	line-height: normal;
	color: #777;
	margin-bottom: 30px;
}

html { 
  background: #e7ebf0;
  overflow: visible;
}
body {
  color: #000;
  background: 0 0;
  /* font: 12px/18px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif; */
  font-family: 'Roboto', sans-serif;
  overflow: visible;
  overflow-x: hidden;
  margin: 0;
}
.top_nav_link{
	float: left;
	padding: 38px 20px 38px 20px; 
	cursor: pointer;
}
.active.top_nav_link {
	border-top: solid 2px;
	padding-top: 36px;
}
.login_head_bg {
  background: #5682a3;
  height: 226px;
}
.main_head_bg{
  background: #4B6D97;
  height: 159px;
	
}
.im_page_head{
	height: 95px;
	max-width: 1010px;
	min-width: 300px;
	margin: 0 auto;
}
.home_title{
	margin-left: 15px; 
	margin-right: 20px;
	float: left;
	padding-top: 38px;
}
.im_page{
	margin-top: -159px;
}
.top_home_link{
	cursor: pointer;
}
.top_user_wrap{
	float: right;
	color: #E9EDF3;
	margin: 31px 40px; 
}
.top_user_pic{
  border-radius: 50px; 
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 12px;
}
.top_left_wrap{
  width: 31%;
  float: left;	 
}
.chats_search_wrap{ 
  padding: 22px 24px 22px 24px;	 
  border-right: solid #E9EDF3 1px;
  border-bottom: solid #E9EDF3 1px; 
  overflow: hidden;
}
.controls_ico{
	width: 18px;
	height: 18px;	 
	float: left;
	margin-right: 30px;
	cursor: pointer;
}
.im_send_panel_wrap {
  max-width: 554px;
  padding-bottom: 23px;
  margin: 0 auto;
  padding: 10px 15px 30px;
}
.controls_ico.top_search{ 
	background: url(../img/search_2x.png)  no-repeat;
	background-size: contain;   
	margin-right: 30px;
}
.controls_ico.top_new_chat{ 
	background: url(../img/new_chat_2x.png)  no-repeat;  
	background-size: contain; 
	margin-right: 0px;
}
.controls_ico.add_person{ 
	background: url(../img/addperson_2x.png)  no-repeat;  
	background-size: contain; 
	width: 22px;
	height: 16px;
}
.im_dialogs_wrap{
  width: 31%;
  border-right: #E9EDF3 solid 1px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow: scroll;
  cursor: pointer;
}
.im_history_wrap{
  float: left;
  width: 69%;	
}
.im_dialog_meta{
	float: right;
	color: #C4CDD9;
}
.im_dialog_wrap{
	border-bottom: solid #E9EDF3 1px;	
	font-size: 14px;
}
@media (max-height: 600px), (max-width: 1010px)
.im_page_wrap {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 0;
  border-radius: 0;
} 
.im_dialog_message_wrap{
	margin-left: 12px;
	margin-top: 4px;
	float: left;
	width: 154px;
}
.im_diaog_peer{
	color: #4B6D97;
}
.im_dialog_message{
	color: #212F42;
	margin-top: 11px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.im_chats_wrap{ 
  height: calc(100vh - 200px);
  overflow: hidden;
}
.im_dialog{
	padding: 24px;
	height: 48px;
}
.im_dialog_photo{
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  overflow: hidden;	
  float: left;
}
.im_top_controls{
	overflow: hidden;
}
.controls_ico.volume_off{ 
	background: url(../img/volume_off.png)  no-repeat;  
	background-size: contain; 
}
.controls_ico.more_opt{ 
	height: 16px;
	background: url(../img/more_2x.png)  no-repeat;  
	background-size: contain;
	margin-top: 1px; 
	margin-right: 0px;
}
.chats_title{
	float: left; 
}
.top_btns_wrap{
	float: right;
}
.all_chats_title{
	float: left;
}
.top_right_wrap{
  width: 69%;	
  float: left; 
}
.chats_title_wrap{
  padding: 22px 24px 22px 24px;	
  overflow: hidden;
  border-bottom: solid #E9EDF3 1px; 
}
.chat_members_status{
	margin-left: 12px;
	color: #C4CDD9;
}
.top_user_name{
	white-space: nowrap;
	float: left;
	margin-top: 6px;
}
.im_top_controls{
	color: #212F42;
}
.im_page_nav{ 
	color: #E9EDF3;
}
.im_page_wrap {
  background: #FFF;
  max-width: 1010px;
  min-width: 300px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 0 #dfe5ec;
  -moz-box-shadow: 0px 1px 0 #dfe5ec;
  box-shadow: 0px 1px 0 #dfe5ec;
  border-radius: 3px; 
  border-bottom: 1px solid #d2dbe3;
  overflow: hidden;
}



.login_page {
  margin: -131px auto 90px;
  max-width: 404px;
}
.login_head_wrap {
  height: 75px;
}
.login_head_logo_link {
  display: inline-block;
  line-height: 30px;
  padding: 23px 15px 22px;
}
.login_head_submit_progress, .login_head_submit_wrap {
  float: right;
}
.login_head_submit_wrap {
  font-weight: 700;
}
.login_head_submit_btn, .login_head_submit_progress {
  font-size: 13px;
  line-height: 20px;
  padding: 27px 15px 28px;
  display: inline-block;
  color: #FFF;
}
.im_page_nav{
	margin-left: 30px;
}
.home_logo{
  width: 32px;
  height: 32px;	
  display: inline-block;
  vertical-align: top;
  background: url(../img/logo_white.png)  no-repeat; 
  background-size: contain;
  float: left;
  margin-top: 31px; 
}
.icon-tg-logo {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  background: url(../img/logo.png)  no-repeat; 
  background-size: contain;
  margin-right: 18px;
} 
.icon-tg-title {
  width: 63px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;  
  font-size: 9pt;
  color: white;
}
a {
  cursor: pointer;
}
.login_form_head {
  color: #222;
  margin: 0 0 20px;
  font-size: 15px;
  font-weight: 700;
}
.login_form_lead {
  color: #999;
  margin: 15px 0 30px;
  font-size: 13px;
  line-height: 160%;
}
.login_phone_code_input_group {
  float: left;
  width: 50px;
  margin-right: 25px;
}
.md-input-group {
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0;
  margin: 0 0 22px;
}
.md-input-label {
  font-weight: 400;
  color: #999;
  cursor: pointer;
  display: block;
  font-size: 13px;
  margin: 0;
  padding: 0;
  z-index: 1;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: left center;
  -webkit-transform-origin: left center;
  -webkit-transform: translate3d(0,22px,0);
  transform: translate3d(0,22px,0);
}
.md-input {
  color: #000;
  background: #FFF;
  display: inline-block;
  border: 0;
  outline: 0;
  font-size: 13px;
  padding: 3px 0;
  margin: 3px 0 0;
  width: 100%;
  box-shadow: none;
}
.md-input-group {
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0;
  margin: 0 0 22px;
}
.md-input-has-value .md-input-label {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}
.user_bg{
	color: #ffffff; 
	line-height: 48px;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	width: 48px;
	height: 48px;
	line-height: 48px;
	border-radius: 50%;
	overflow: hidden;	
	float: left;
}

.user_bgcolor_0{background:#59a2be}
.user_bgcolor_1{background:#2093cd}
.user_bgcolor_2{background:#ad62a7}
.user_bgcolor_3{background:#f16364}
.user_bgcolor_4{background:#f9a43e}
.user_bgcolor_5{background:#e4c62e}
.user_bgcolor_6{background:#67bf74}  