<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="com.zaxxer.hikari.HikariConfig" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.apache.zookeeper" level="WARN"/>
    <logger name="org.flywaydb" level="WARN"/>
    <logger name="slick" level="WARN"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%X{akkaTimestamp} %highlight(%-5level) %cyan(%logger{10}) %magenta(%X{akkaSource}) %X{authId} %X{sessionId} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
