<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.actor.messenger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:name="im.actor.messenger.app.ActorApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <!-- Tour -->
        <activity
            android:name=".app.fragment.tour.TourActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/NoBarActivityTheme"
            android:windowSoftInputMode="adjustNothing" />

        <!-- Auth -->

        <activity
            android:name=".app.fragment.auth.AuthActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".app.fragment.auth.PickCountryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".app.fragment.auth.OAuthDialogActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <!-- Chat -->

        <activity
            android:name="im.actor.messenger.app.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="https" android:host="actor.cc" android:pathPrefix="/join/"/>
                <data android:scheme="https" android:host="quit.email" android:pathPrefix="/join/"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*" />
            </intent-filter>

        </activity>

        <activity
            android:name=".app.fragment.chat.ChatActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/ChatActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <!-- Profiles -->

        <activity
            android:name=".app.fragment.profile.ProfileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/ProfileActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" >

        </activity>

        <activity
            android:name=".app.fragment.group.GroupInfoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/ProfileActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".app.fragment.settings.MyProfileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/ProfileActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <!-- Compose -->

        <activity
            android:name=".app.fragment.compose.ComposeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".app.fragment.group.AddMemberActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".app.fragment.group.InviteLinkActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".app.fragment.group.IntegrationTokenActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".app.fragment.compose.CreateGroupActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <!-- Settings -->

        <activity
            android:name=".app.fragment.settings.NotificationsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".app.fragment.settings.ChatSettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".app.fragment.help.HelpActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".app.fragment.settings.SecuritySettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <!-- Media -->

        <activity
            android:name="im.actor.messenger.app.activity.ViewAvatarActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".app.fragment.media.DocumentsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".app.fragment.media.MediaActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/PictureFullscreenTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".app.fragment.media.PictureActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/PictureFullscreenTheme"
            android:windowSoftInputMode="adjustResize" />

        <!-- Actions -->
        <activity
            android:name=".app.fragment.settings.EditNameActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name="im.actor.messenger.app.activity.AddContactActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <!-- Phone Calls -->
        <activity
            android:name=".app.fragment.call.CallActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <!-- Misc -->
        <activity
            android:name=".app.activity.TakePhotoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Transparent" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity android:name="net.hockeyapp.android.UpdateActivity" />

        <activity android:name="com.mixpanel.android.surveys.SurveyActivity" />

        <activity
            android:name="com.droidkit.pickers.file.FilePickerActivity"
            android:label="@string/picker_file_activity_title"
            android:theme="@style/PickerTheme.FilePicker" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="d78e94b0dcd206307a64bfe0bbfaaf6b4713aea6" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCFJeO63cmT6zvLT2WW7ye8bnPzuIKaMMg" />

        <service
            android:name="im.actor.messenger.app.service.KeepAliveService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="im.actor.model.android.modules.push.PushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>
</manifest>