.status {
  font-size: 14px;

  display: inline-block;

  width: 16px;
  height: 16px;

  &--penging {
    color: $serviceMessageTextColor;
  }
  &--sent {
    color: $serviceMessageTextColor;
  }
  &--received {
    color: $serviceMessageTextColor;
  }
  &--read {
    color: $baseColor;
  }
  &--error {
    color: $redColor;
  }
}
