.status {
  display: inline-block;
  height: 16px;
  width: 16px;
  fill: rgb(190,190,190);
  svg {
    width: 100%;
    height: 100%;
  }

  &--penging {}
  &--sent {}
  &--received {}
  &--read {
    fill: lighten($baseColor, 20);
  }
  &--error {
    fill: #962e00;
  }
}
