// Body
$bodyColor: rgb(218,226,227);
$baseColor: #4c617a;

// Toolbar
$toolbarHeight: 60px;
$toolbarTextColor: #50545d;

// Avatars
$avatarDefaultSize: 48px;
$avatarSmallSize: 32px;
$avatarTinySize: 24px;

// Placeholder color
$emptyColor: #b8b8b8;
$lblueColor: #59a2be;
$blueColor: #2093cd;
$purpleColor: #ad62a7;
$redColor: #f16364;
$orangeColor: #f9a43e;
$yellowColor: #e4c62e;
$greenColor: #67bf74;

// Forms
$inputBorderColor: rgb(216, 216, 216);

// Buttons
$buttonBorderRadius: 3px;
$buttonTextColor: rgb(144, 144, 144);

// Sidebar
$sidebarWidth: 250px;
$sidebarTextColor: #c2c6c9;
$sidebarHeaderHoverColor: #3d4e62;

// Transitions
$defaultTransitionDuration: 400ms;
$defaultTransitionTiming: cubic-bezier(.25,.8,.25,1);

//Messages
$serviceMessageTextColor: rgb(190,190,190);
