<md-sidenav md-component-id="left"
            class="md-sidenav-left"
            md-is-locked-open="main.$mdMedia('gt-sm')"
            flex
            md-swipe-left="main.onSidebarSwipeLeft()"
            layout="column"
            ui-view="sidebar">
</md-sidenav>

<div layout="column" flex>
    <md-toolbar ui-view="toolbar" ng-if="!$state.includes('login')"></md-toolbar>
    <md-content ui-view="content" flex layout="column" scroll-glue></md-content>
    <div ui-view="compose"></div>
</div>