<div flex ng-controller="dialogsController as dialogs">
    <md-subheader>Opened coversations</md-subheader>

    <md-list flex class="dialogs">
        <md-list-item class="dialogs__item"
                      ng-repeat="dialog in dialogs.list"
                      ng-class="{'dialogs__item--selected' : dialog.peer.peer.id == main.actorService.currentPeer.id}"
                      ng-click="dialogs.selectDialog(dialog.peer.peer)">

            <div class="avatar">
                <img class="avatar__image" ng-src="{{::dialog.peer.avatar }}" alt="{{::dialog.peer.title }}" ng-if="::dialog.peer.avatar" />
                <span class="avatar__placeholder avatar__placeholder--{{::dialog.peer.placeholder }}" ng-bind="::dialog.peer.title | limitTo:1"></span>
            </div>

            <div class="md-list-item-text dialogs__body" flex>

                <h3 layout="row" class="dialogs__body__title">
                    <span flex >
                        <md-icon md-svg-icon="assets/img/icons/ic_group_24px.svg"
                                 ng-if="::dialog.peer.peer.type == 'group'"
                                 class="dialogs__body__title__icon"></md-icon>
                        {{ ::dialog.peer.title }}
                    </span>
                    <time class="dialogs__body__title__timestamp">{{ ::dialog.date }}</time>
                </h3>

                <div class="dialogs__body__message" flex layout="row" ng-class="{'dialogs__body__message--highlighted': dialog.isHighlighted}">

                    <md-icon md-svg-icon="assets/img/icons/ic_access_time_24px.svg"
                             ng-if="::dialog.state == 'pending'"
                             class="status status--penging"></md-icon>
                    <md-icon md-svg-icon="assets/img/icons/ic_done_24px.svg"
                             ng-if="::dialog.state == 'sent'"
                             class="status status--sent"></md-icon>
                    <md-icon md-svg-icon="assets/img/icons/ic_done_all_24px.svg"
                             ng-if="::dialog.state == 'received'"
                             class="status status--received"></md-icon>
                    <md-icon md-svg-icon="assets/img/icons/ic_done_all_24px.svg"
                             ng-if="::dialog.state == 'read'"
                             class="status status--read"></md-icon>
                    <md-icon md-svg-icon="assets/img/icons/ic_report_problem_24px.svg"
                             ng-if="::dialog.state == 'error'"
                             class="status status--error"></md-icon>


                    <p flex>
                        <span class="dialogs__body__message__sender" ng-if="::dialog.showSender">
                            {{ ::dialog.sender}}:
                        </span>
                        <!--{{ ::dialog.text | truncate : dialog.showSender ? 10 : 22 }}-->
                        {{ ::dialog.text }}
                    </p>

                    <span class="dialogs__body__message__counter"
                          ng-if="::dialog.counter > 0"
                          ng-bind="::dialog.counter">
                    </span>

                </div>

            </div>
        </md-list-item>
    </md-list>
</div>
