@import '../../styles/variables';

.dialogs {
  padding: 0;
  &__item {
    cursor: pointer;
    &--selected {
      background-color: $baseColor !important;
      * { // TODO: fix it
        color: rgb(255,255,255) !important;
      }
      .dialogs__body__message__counter {
        background-color: lighten($baseColor, 25);
      }
    }
    &:hover {
      background-color: rgba($baseColor, .05);
    }
  }
  .avatar {
    margin: 8px 16px 8px 0;
  }
  &__body {
    margin: 8px 0;

    &__title {
      font-weight: 500;
      line-height: 12px;
      height: 12px;
      margin: 6px 0;
      font-size: 14px;
      color: rgb(22,22,22);
      &__icon {
        width: 16px;
        height: 16px;
        margin-top: -2px;
        margin-right: 2px;
        color: inherit;
        vertical-align: middle;
      }
      &__timestamp {
        color: rgb(190,190,190);
        font-size: 12px;
        text-transform: lowercase;
      }
    }
    &__message {
      color: rgb(148,148,148);
      font-size: 13px;
      line-height: 24px;
      margin: 4px 0 0;
      width: 207px; // for firefox
      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        padding-right: 5px;
      }

      .status {
        margin-right: 4px;
      }

      &__counter {
        width: 20px;
        height: 20px;
        line-height: 22px;
        font-size: 11px;
        font-weight: 500;
        text-align: center;
        border-radius: 100%;
        background-color: $baseColor;
        color: white;
      }

      &__sender {
        font-weight: 500;
        color: darken(rgb(148,148,148), 10);
      }
      &--highlighted {
        font-weight: 500;
        color: darken(rgb(148,148,148), 25) !important;
      }
    }
  }
}
