.activity {
  position: relative;

  display: none;

  width: $rightAsideWidth;

  background-color: $bodyColor;
  &--shown {
    display: block;
  }

  &__header {
    position: relative;

    height: 60px;

    //color: $toolbarTextColor;
    &__close {
      font-size: 20px;
      line-height: 36px;

      position: absolute;
      z-index: 1;
      top: 12px;
      left: 16px;

      cursor: pointer;
    }
    &__title {
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;

      display: block;

      padding: 12px 0 12px 30px;

      text-transform: uppercase;
    }
  }

  &__body {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: auto;

    box-sizing: border-box;
    width: 100%;
    padding: 0 16px 16px;
  }
}
