.button {
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;

  display: inline-block;

  box-sizing: border-box;
  min-width: 36px;
  height: 36px;
  padding: 6px 8px;

  cursor: default !important;
  transition: background $defaultTransitionDuration $defaultTransitionTiming;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  color: $buttonTextColor !important;
  border: none;
  border-radius: $buttonBorderRadius;
  outline: none;
  background-color: transparent;

  i {
    font-size: 24px;
    line-height: 20px;

    width: 20px;
    height: 20px;
    margin-right: 4px;
    padding: 2px;

    vertical-align: top;
  }
  &:hover {
    background-color: rgba(160,160,160,.2);
  }
  &:active {
    color: darken($buttonTextColor, 10);
    background-color: rgba(160,160,160,.6);
  }
  &--primary {
    min-width: 60px;

    color: rgb(255,255,255) !important;
    background-color: $baseColor;
    &:hover {
      background-color: lighten($baseColor,10);
    }
  }
  &--danger {
    color: $redColor !important;
  }
  &--wide {
    display: block;

    width: 100%;
  }
}
