.activity {
  position: relative;
  z-index: 2;

  display: none;

  width: $activity-width;

  background-color: $activity-background-color;
  box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, .08);
  &--shown {
    display: block;
  }
  &__body {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 0 16px 16px;
  }

  .dropdown {
    &--opened {
      .dropdown__button {
        background-color: lighten(rgba($dark-sky-blue, .15), 15);
        box-shadow: 0 2px 2px 0 rgba($dark-sky-blue, .35);
      }
    }
  }
  .button {
    padding: 8px 0;
    i {
      font-size: 20px;
    }
  }
}

.fold {
  &__title {
    padding: 24px 24px 24px 6px;

    cursor: pointer;
    user-select: none;
    .icon {
      margin-right: 16px;
    }
    span {
      display: inline-block;

      vertical-align: middle;
    }
  }
  &__indicator {
    margin-right: 0 !important;

    transition: transform $default-transition-duration $default-transition-timing;
  }
  &__content {
    //max-height: 0;
    //opacity: 0;
    display: none;

    padding-bottom: 24px;
    //overflow: hidden;
    //transition: opacity $default-transition-duration/2, max-height $default-transition-duration*1.5;
    //transition: max-height $default-transition-duration*1.5;
  }
  &--open {
    .fold__indicator {
      transition: transform $default-transition-duration/2 $default-transition-timing;
      transform: rotate(-90deg);
    }
    .fold__content {
      display: block;
      //transition: opacity $default-transition-duration/2, max-height $default-transition-duration*1.5 0s;
      //transition:  max-height $default-transition-duration*1.5 0s;
      //opacity: 1;
      //max-height: 400px;
    }
  }
}

