.activity {
  position: relative;

  display: none;

  width: $activity-width;

  background-color: rgba($body-background-color,.2);
  &--shown {
    display: block;
  }

  &__header {
    position: relative;

    height: $toolbar-height;
    padding: 2px 0;

    //color: $toolbarTextColor;
    &__close {
      font-size: 20px;
      line-height: 36px;

      position: absolute;
      z-index: 1;
      top: 14px;
      left: 16px;

      cursor: pointer;
    }
    &__title {
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;

      display: block;

      padding: 12px 0 12px 52px;

      text-transform: uppercase;
    }
  }

  &__body {
    position: absolute;
    top: $toolbar-height;
    bottom: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: auto;

    box-sizing: border-box;
    width: 100%;
    padding: 16px;
  }
}
