.banner {
  font-size: 16px;

  position: absolute;
  z-index: 3000;
  top: 0;
  right: 0;
  left: 0;

  display: block;

  box-sizing: border-box;
  width: 100%;
  height: $banner-height;
  margin-top: -$banner-height;
  padding: 8px;

  transition: margin $default-transition-duration;
  transform: translateZ(0);
  text-align: center;

  color: white;
  background-color: $havelock-blue;
  p {
    line-height: 24px;

    margin: 0;

    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    b {
      font-weight: 500;
    }
    a {
      font-weight: 500;

      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__hide {
    position: absolute;
    top: 8px;
    right: 12px;

    cursor: pointer;

    color: rgba(white, .6);
    &:hover {
      color: rgba(white, .9);
    }
    .material-icons {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.banner--onscreen {
  .app,
  .login-new {
    padding-top: $banner-height;
  }
  .banner {
    margin-top: 0;
  }
}
