.button {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;

  display: inline-block;

  box-sizing: border-box;
  min-width: 36px;
  height: 36px;
  padding: 6px 12px;

  cursor: pointer !important;
  transition: background $default-transition-duration $default-transition-timing;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  color: $button-text-color;
  border: none;
  border-radius: $button-border-radius;
  outline: none;
  background-color: transparent;

  i {
    font-size: 24px;
    line-height: 20px;

    width: 20px;
    height: 20px;
    margin-right: 4px;
    padding: 2px;

    vertical-align: top;
  }
  &:hover {
    background-color: rgba(160,160,160,.2);
  }
  &:active {
    color: darken($button-text-color, 10);
    background-color: rgba(160,160,160,.6);
  }
  &--primary {
    min-width: 60px;

    color: white !important;
    background-color: $kashmir-blue;
    &:hover {
      background-color: lighten($body-base-color,10);
    }
  }
  &--danger {
    color: $color-red !important;
  }
  &--wide {
    display: block;

    width: 100%;
  }

  &--blue {
    background-color: rgba(74, 143, 226, .1) !important;
    color: $dark-sky-blue !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    vertical-align: top;

    padding: 8px 12px;

    transition: background $default-transition-duration $default-transition-timing, box-shadow $default-transition-duration $default-transition-timing;
    text-transform: uppercase;
    span {
      vertical-align: top;
    }
    i {
      font-size: 17px;
      width: 18px;
      height: 18px;
      vertical-align: top;
      line-height: 18px;
      display: inline-block;
      padding: 0;
      margin-right: 5px;
    }
    &:active {
      background-color: rgba(74, 143, 226, .1) !important;
      box-shadow: 0 2px 2px 0 rgba(81, 145,219,.35) !important;
    }
  }
  &--light {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

    padding: 10px 12px;

    text-transform: uppercase;

    color: #7ab7ff !important;
  }

  &--icon {
    min-width: 24px;
    padding: 6px;

    border-radius: 50%;
    i {
      line-height: 24px;

      width: 24px;
      height: 24px;
      margin: 0;
      padding: 0;

      color: rgba(black, .25);
    }
    &.button--active {
      i {
        color: $dark-sky-blue;
      }
    }
  }
}
