.icon {
  display: inline-block;

  width: 24px;
  height: 24px;
  stroke-width: 0;

  vertical-align: middle;

  &--gray {
    color: $greyish;
    fill: $greyish;
  }
  &--green {
    color: $apple;
    fill: $apple;
  }
  &--squash {
    color: $squash;
    fill: $squash;
  }
  &--pink {
    color: $coral-pink;
    fill: $coral-pink;
  }
  &--blue {
    color: $dark-sky-blue;
    fill: $dark-sky-blue;
  }

  &--dropdown {
    color: rgba(0,0,0,.25);
    fill: rgba(0,0,0,.25);
  }
}
