.login-new {
  position: relative;

  max-width: 1024px;
  height: 100%;
  margin: 0 auto;

  transition: padding $default-transition-duration, opacity 350ms ease-out;

  color: white;
  background-color: $bismark;

  &__welcome {
    position: relative;

    box-sizing: border-box;
    height: 100%;
    padding: 36px 70px;

    background-color: rgba(0, 0, 0, .03);
    .logo {
      position: absolute;
      top: 36px;
      left: 70px;
    }
    article {
      text-align: left;
      p {
        font-size: 16px;
        line-height: 24px;

        margin: 0 0 18px;
      }
    }
    footer {
      font-size: 14px;

      position: absolute;
      bottom: 36px;
      left: 0;

      box-sizing: border-box;
      width: 100%;
      padding: 0 70px;

      color: $login-text-color;
      a {
        margin-left: 34px;

        text-decoration: none;

        color: $login-text-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:before {
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      left: -5000px;

      display: block;

      content: '';

      background-color: rgba(0, 0, 0, .03);
    }
  }
  &__heading {
    font-size: 26px;
    font-weight: 300;

    display: block;

    width: 100%;
    margin: 0 0 21px;
    strong {
      font-weight: 400;
    }
  }
  &__form {
    position: relative;

    box-sizing: border-box;
    //background-color: #466274;
    height: 100%;
    padding: 50px;
    form {
      span {
        display: block;

        margin-bottom: 20px;
      }
      footer {
        margin-top: 20px;
      }
    }
    & > div {
      width: 100%;
    }
    //input {
    //  font-size: 16px;
    //  line-height: 20px;
    //
    //  display: block;
    //
    //  width: 100%;
    //  margin: 0 0 26px;
    //  padding: 6px 0;
    //
    //  color: white;
    //  border: none;
    //  outline: none;
    //  background-color: transparent;
    //  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .12);
    //
    //  -webkit-appearance: none;
    //  &:focus {
    //    box-shadow: 0 2px 0 0 $login-input-color;
    //  }
    //
    //  &::-webkit-input-placeholder {
    //    @include placeholder();
    //  }
    //  &::-moz-placeholder {
    //    @include placeholder();
    //  }
    //  &:-moz-placeholder {
    //    @include placeholder();
    //  }
    //  &:-ms-input-placeholder {
    //    @include placeholder();
    //  }
    //}
    footer {
      .button {
        margin-left: 16px;
      }
    }
    //&:before {
    //  position: absolute;
    //  top: 0;
    //  right: -5000px;
    //  bottom: 0;
    //  left: 100%;
    //
    //  display: block;
    //
    //  content: '';
    //
    //  background-color: rgba(0,0,0,.03);
    //}
  }

  .banner {
    &:before,
    &:after {
      position: absolute;
      z-index: 1000;
      top: 0;

      height: $banner-height;

      content: '';

      background-color: $havelock-blue;
    }

    &:before {
      left: -100%;

      width: 100%;
    }
    &:after {
      right: -100%;

      width: 100%;
    }
  }
}

.login {
  width: 100%;
  height: 100%;

  &__header {
    font-weight: 700;
    line-height: 32px;

    position: fixed;
    top: 0;
    left: 0;

    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 14px 16px;

    text-align: left;

    color: white;
    background-color: $body-base-color;
    box-shadow: inset 0 -3px 5px -2px rgba(0, 0, 0, .2);
    &__logo {
      float: left;

      margin-right: 8px;
    }
  }
  &__window {
    box-sizing: border-box;
    width: 360px;
    padding: 16px;

    transition: height $default-transition-duration $default-transition-timing;
    text-align: initial;

    color: $toolbar-text-color;
    border: 1px solid darken($body-background-color, 2);
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 3px 7px -5px rgba(0, 0, 0, .4);

    h2 {
      line-height: 32px;

      margin-top: 8px;

      text-align: center;
    }
    p {
      color: rgba($toolbar-text-color, .7);
    }
    a {
      font-size: 14px;
      font-weight: 700;

      display: inline-block;

      margin-top: 8px;

      text-decoration: none;

      color: $body-base-color;
    }
    input {
      font-size: 14px;
      line-height: 22px;

      box-sizing: border-box;
      width: 100%;
      margin-bottom: 16px;
      padding: 6px 8px;

      transition: border $default-transition-duration $default-transition-timing;

      border: 1px solid $compose-border-color;
      border-radius: $button-border-radius;
      //box-shadow: 0 3px 6px -3px rgba(0,0,0, .2);
      outline: none;
      &:hover {
        border-color: rgba(lighten($body-base-color, 10), .5);
      }
      &:focus,
      &:active {
        //box-shadow: 0 0 0 rgba(0,0,0,0);
        border-color: rgba(lighten($body-base-color, 10), .9);
      }
    }
    input[disabled] {
      cursor: not-allowed;

      opacity: .7;
    }
  }
  &__form {
    display: none;

    text-align: center;
    &--request {
      position: relative;
      a {
        font-size: 14px;

        position: absolute;
        z-index: 1;
        top: 38px;
        right: -10px;

        display: none;

        cursor: pointer;

        color: white;
      }
    }
    &--active {
      display: block;
    }
    &--done {
      display: block;
      a {
        display: block;
      }
      footer {
        display: none;
      }
    }

    &__input {
      hr {
        transform-origin: left;
      }
    }
  }
}
