.dialog {
  min-height: 400px;
  &.row {
    opacity: .5;
  }
}

.messages {
  position: absolute;
  top: $toolbar-height;
  bottom: 140px + $typing-height;

  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.message {
  margin-top: 24px;
  padding: 0 32px;

  .avatar {
    margin: 0 14px 0 12px;
  }
  a > .avatar {
    cursor: pointer;
  }

  &__header {
    font-weight: 500;

    display: block;

    height: 20px;
    margin: 0 0 4px;
  }
  &__sender {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;

    display: inline-block;

    height: 20px;
    margin: 0;
    padding: 0;

    vertical-align: middle;

    color: $message-sender-text-color !important;

    a {
      display: inline-block;

      cursor: pointer;
    }
  }
  &__timestamp {
    font-size: 14px;
    line-height: 20px;

    display: inline-block;

    margin-left: 8px;

    vertical-align: middle;
    text-transform: lowercase;

    color: $message-service-text-color;
  }
  &__status {
    line-height: 20px;

    display: inline-block;

    margin-left: 8px;

    vertical-align: middle;
  }


  &__content {
    &--service {
      font-size: 14px;

      margin: 10px 0;

      text-align: center;

      color: $message-service-text-color;
    }
    &--unsupported {
      color: rgba(red, .3);
    }
    &--text {
      font-size: 15px;

      margin: 0;

      color: $message-text-color;

      // Styles for markdown
      p {
        margin: 0 0 7px;

        word-wrap: normal;
        word-break: keep-all;
        &:last-child {
          margin-bottom: 0;
        }
      }
      ul,
      ol {
        margin: 6px 0;
        padding-left: 24px;
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
        margin: 6px 0;
      }
      blockquote {
        margin: 8px 0 16px 12px;
        padding-left: 16px;

        border-left: 3px solid $body-base-color;
        &:last-child {
          margin-bottom: 0;
        }
      }
      a {
        text-decoration: none;

        color: $body-base-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &--photo {
      position: relative;
      //display: inline-block;

      overflow: hidden;

      &--wide {
        width: 100% !important;
        height: auto !important;
      }
      &--loaded {
        .photo--original {
          visibility: visible !important;

          transform: scale(1) !important;

          opacity: 1 !important;
        }
        .photo--preview {
          display: none !important;
        }
      }
      .photo {
        line-height: 0;

        max-width: 100%;
        height: auto;
        &--preview {
          display: block;

          width: 100%;

          transform: scale(1.02);

          filter: url(#blur-effect);
          filter: blur(3px);
          filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
        }
        &--original {
          visibility: hidden;

          width: 100%;
          height: auto;

          cursor: pointer;
          transition: transform $default-transition-duration $default-transition-timing;
          transform: scale(1.02);

          opacity: 0;
        }
      }
      .preloader {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;

        margin-top: -12px;
        margin-left: -20px;
      }
      svg {
        display: none;
      }
      .actions {
        position: absolute;
        z-index: 5;
        top: 6px;
        right: 6px;

        padding: 4px;

        opacity: 0;
        a {
          display: block;

          cursor: pointer;

          opacity: .4;
          color: white;
          border-radius: 3px;
          background-color: rgba(black, .4);
          &:hover {
            opacity: .9;
            background-color: rgba(black, .2);
          }
        }
      }
      &:hover {
        .actions {
          opacity: 1;
        }
      }
    }
    &--document {
      .document {
        line-height: 18px;

        padding: 8px 10px 8px 8px;

        transition: background $default-transition-duration $default-transition-timing;
        //text-decoration: none;

        border-radius: 3px;
        background-color: rgba(darken($body-base-color, 0), .07);

        &__icon {
          display: block;

          width: $message-document-icon-size;
          height: $message-document-icon-size;
          margin-right: 8px;

          text-align: center;

          color: $body-base-color;
          background-color: white;
          box-shadow: 0 1px 3px -1px rgba($body-base-color,.2);
          i {
            line-height: $message-document-icon-size;
          }
        }
        &__filename {
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;

          display: inline-block;

          vertical-align: middle;
          text-decoration: none;

          color: $message-text-color;
        }
        &__meta {
          font-size: 14px;
          line-height: 20px;

          text-transform: uppercase;

          color: rgba($message-text-color,.3);
          &__ext {
            margin-left: 6px;
          }
        }
        &__actions {
          font-size: 14px;
          line-height: 20px;
          a {
            text-decoration: none;

            color: $body-base-color;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
