.ReactModalPortal {
  width: auto;
  height: auto;
}
.ReactModal__Overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  background-color: $modal-backdrop-color;

  perspective: 600px;
  &--after-open {
    //transition: opacity 150ms ease-out;

    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}
.ReactModal__Content {
  //transform: scale(.5);

  &--after-open {
    //transition: all 150ms ease-in;
    //transform: scale(1);
  }
  &--before-close {
    //transition: all 150ms ease-in;
    //-webkit-transform: scale(.75);
  }
}

.modal-new {
  position: relative;

  overflow: hidden;

  width: $modal-default-width;
  //min-height: $modal-default-height;
  margin: 160px auto 0;

  color: $modal-text-color;
  border-radius: $modal-default-radius;
  outline: none;
  background-color: $modal-default-background;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.25);

  &__header {
    position: relative;
    //z-index: 5;

    box-sizing: border-box;
    height: $modal-header-height;
    padding: 18px 14px 18px 18px;

    user-select: none;

    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    &__title {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;

      display: inline-block;

      margin: 0;

      vertical-align: middle;

      color: $greyish-brown;
    }
    &__icon {
      //margin-top: -2px;
      //color: $dove-gray;
      font-size: 20px;
      line-height: 24px;

      margin-right: 18px;
      margin-left: 2px;

      color: rgba(black, .4);
    }
    &__close,
    &__back {
      cursor: pointer;
    }
  }

  &__body {
    //margin-bottom: 12px;
    padding-bottom: 6px;

    background-color: white;
    //box-shadow: 0 2px 1px rgba(0, 0, 0, .05), inset 0 1px 0 rgba(0,0,0,.06);
    &__list {
      margin: 0;
      padding: 0;

      list-style: none;
      li {
        font-size: 15px;
        line-height: 26px;

        padding: 10px 0;

        box-shadow: inset 0 -1px 0 rgba(0,0,0,.07);
        &:last-child {
          box-shadow: none;
        }
      }
    }

    .login__form__input {
      margin-bottom: 16px;
      label {
        color: rgba(0,0,0,.54) !important;
      }
    }
  }

  &__search {
    position: relative;
    .material-icons {
      font-size: 18px;
      line-height: 24px;

      position: absolute;
      top: 3px;
      left: 8px;

      pointer-events: none;

      color: rgba(black, .25);
    }
    .input {
      font-size: 14px;

      margin: 0;
      padding-left: 30px;

      color: rgba(black, .2);
      border: 1px solid $cloudy-blue;
      background-color: white;
      &:focus {
        color: $greyish-brown;
      }
    }
  }

  &__footer {
    padding: 8px;

    background-color: white;
    //box-shadow: inset 0 1px 0 0 rgba(0,0,0,.06)
  }

  &--profile {
    .modal-new__body {
      padding-bottom: 6px;
    }

    .avatar {
      margin: 16px 23px 0 16px;
    }
    .name {
      font-size: 18px;

      margin-right: 16px;
      //font-weight: 700;
      //margin-top: 24px;
      margin-bottom: 6px;

      color: $modal-text-color;
      .login__form__input {
        margin-bottom: 0;
      }
    }
    .phone {
      //margin-bottom: 16px;
      margin-right: 16px;

      //color: $modal-text-light-color;
    }
  }
  &--create-group {
    .count {
      font-size: 12px;
      line-height: 14px;
      //margin-top: 12px;

      display: block;

      padding: 8px 16px;

      text-transform: uppercase;

      color: rgba($dorado, .5);
      background-color: white;
    }
    .group-members {
      .modal-new__body {
        padding: 0;
      }
    }

    .contacts__list {
      overflow-x: hidden;
      overflow-y: auto;

      max-height: 314px;
      .contacts__list__item:hover {
        background-color: white;
      }
      //box-shadow: inset 0 -1px 0 rgba(0,0,0,.07);

      //border-bottom: 1px solid rgba(0,0,0,.07);
    }

    footer {
      text-align: right;
    }

    .modal-new__body {
      padding: 0 16px;
    }
    .login__form__input {
      margin-bottom: 16px;
      label {
        color: rgba(0,0,0,.54) !important;
      }
    }
  }
  &--add-contact {
    .modal-new__body {
      padding: 0 16px;
    }
    .error-message {
      font-size: 14px;
      line-height: 30px;

      display: block;

      box-sizing: border-box;
      height: 0;
      padding: 0 16px;

      transition: opacity $default-transition-duration $default-transition-duration*.3 $default-transition-timing,
      height $default-transition-duration $default-transition-timing;

      opacity: 0;
      color: rgba(0,0,0,.25);
      background-color: white;
      &--shown {
        height: 40px;

        opacity: 1;
      }
    }
  }
  &--update {
    .modal-new__body {
      padding: 1px 24px;
      h1,
      h3 {
        font-weight: 300;
      }
    }
  }
  &--invite {
    .modal-new__body {
      padding: 18px;
      .link {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;

        display: inline-block;

        margin-top: 18px;

        vertical-align: middle;
        text-transform: uppercase;
        .material-icons {
          font-size: 22px;

          margin-right: 16px;
          margin-left: 5px;

          vertical-align: bottom;
        }
      }
    }
  }
  &--invite-by-link {
    .modal-new__header {
      .icon {
        cursor: pointer;
      }
    }
    .modal-new__body {
      font-size: 15px;

      padding: 18px;

      color: $greyish-brown;
      .invite-url {
        font-size: 15px;
        line-height: 20px;

        display: block;

        box-sizing: border-box;
        width: 100%;
        height: 58px;
        margin-top: 18px;
        padding: 8px 11px;

        resize: none;
        cursor: pointer;
        word-break: break-all;

        color: $greyish-brown;
        border: 1px solid $light-grey-blue;
        border-radius: 3px;
      }
    }
    .modal-new__footer {
      padding: 0 18px 18px;

      @include clearfix();
      .button {
        width: 176px;
      }
    }
  }
  &--preferences {
    .modal-new__body {
      background-color: $pale-grey;
      padding: 0;
      .preferences {
        height: 430px;
        display: flex;
        flex-direction: row;
        flex: 1;
        &__tabs {
          width: 187px;
          display: block;
          height: 100%;
          &__tab {
            display: block;
            padding: 10px 24px;
            color: $greyish-brown;
            cursor: pointer;
            line-height: 20px;
            font-size: 15px;
            &--active {
              color: white;
              background-color: $dark-sky-blue-2;
            }
          }
        }
        &__body {
          display: flex;
          flex: 1;
          background-color: white;
          padding: 0 27px 0 105px;
          overflow-x: hidden;
          overflow-y: auto;

        }
        &__list {
            width: 100%;
            //display: block;
          &__item {
            ul {
              list-style: none;
              margin: 0;
              padding: 0;
              li {
                position: relative;
                padding: 30px 0;
                font-size: 15px;
                line-height: 24px;
                border-bottom: 1px solid rgba(black, .12);
                .icon {
                  position: absolute;
                  top: 30px;
                  line-height: 24px;
                  left: -60px;
                  color: rgba(black, .4);
                }
                .hint {
                  margin: 0;
                  color: rgba(black, .4);
                  font-size: 13px;
                  line-height: 24px;
                }
                &:last-child {
                  border-bottom: none;
                }
              }
            }
            &--general {
              .language {
                padding: 14px 0 15px;
                & > span {
                  line-height: 54px;
                  vertical-align: middle;
                  display: inline-block;
                }
              }
            }
            &--notifications {
            }
          }
        }
      }
    }
  }
}
// TODO: refactor;
.modal {
  position: relative;

  overflow: hidden;

  width: $modalDefaultWidth;
  //min-height: $modalDefaultHeight;
  margin: 160px auto 0;

  border-radius: $default-border-radius;
  outline: none;
  //background-color: white;
  box-shadow: 0 3px 7px -5px rgba(0,0,0,.4);

  &__header {
    box-sizing: border-box;
    height: $modalHeaderHeight;
    padding: 12px 16px;

    text-align: initial;

    border-bottom: 1px solid rgba($body-base-color,.05);
    background-color: rgba(0,0,0,.05);
    &__close {
      font-size: 20px;
      line-height: 24px;

      position: absolute;
      z-index: 1;
      top: 18px;
      right: 16px;

      cursor: pointer;

      opacity: .7;
      color: $body-base-color;
      &:hover {
        opacity: .9;
      }
    }
    h3 {
      font-size: 16px;
      font-weight: 500;
      line-height: 36px;

      margin: 0;
      //text-transform: uppercase;
      //line-height: 28px;

      color: $body-base-color;
    }
  }
  &__body {
    padding: 0;
    background-color: white;


    text-align: initial;
  }

  &--profile {
    width: 300px;

    background-color: #dae2e3;
    .modal__body {
      padding: 16px;
      .avatar {
        display: block;

        margin: 30px auto 0;
      }
      .name-block {
        font-weight: 700;
        line-height: 24px;

        overflow: hidden;

        margin: 16px 0;
        padding: 0 16px;

        color: $body-base-color;

        &__name {
          position: relative;

          height: 24px;
          span {
            font-size: 16px;

            display: block;

            vertical-align: middle;
            text-overflow: ellipsis;
          }
          input {
            font-size: 16px;
            line-height: 24px;

            position: absolute;
            top: 0;
            left: 0;

            display: none;

            width: 100%;
            height: 24px;
            margin: 0;
            padding: 0;

            border: none;
            background-color: transparent;

            -webkit-appearance: none;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
          }
        }
        &__edit,
        &__save {
          font-size: 20px;
          line-height: 24px;

          margin-right: 16px;
          margin-left: 4px;

          cursor: pointer;
        }
        &__save {
          display: none;
        }

        &--editable {
          .name-block__edit {
            display: none;
          }
          .name-block__save {
            display: block;
          }
          .name-block__name {
            span {
              display: none;
            }
            input {
              display: block;

              outline: none;
              box-shadow: inset 0 -1px 0 $body-base-color;
            }
          }
        }
      }
    }
  }
}

.contacts {
  .contacts__body {
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 410px;
    padding-bottom: 6px;
  }
  &__list {
    margin: 0;
    padding: 0;

    list-style: none;

    color: $greyish-brown;
    &__item {
      padding: 7px 18px 7px 18px;

      .avatar {
        margin: 0 12px 0 0;
      }
      .title {
        font-size: 15px;
        line-height: 32px;

        display: inline-block;
      }
      .controls {
        text-align: center;
        .material-icons {
          font-size: 20px;
          line-height: 32px;

          display: block;

          width: 32px;
          height: 32px;
        }
        a {
          cursor: pointer;

          color: $dark-sky-blue;
          &:hover {
            color: $body-base-color;
          }
        }
      }

      &--member {
        user-select: none;

        opacity: .4;
      }
      &--empty {
        line-height: 32px;

        opacity: .4;
      }
    }
  }
}

.modal {
  background-color: transparent;
  &__tabs {
    background-color: $blue-bayoux;
    &__tab-content {
      padding: 16px;
      background-color: white;
      min-height: 300px;
      h1, h2, h3, h4 {
        margin-top: 0;
        font-weight: 300;
      }
    }
    &__tab-items {
      text-transform: uppercase;
    }
  }

  &--settings {
    .modal__header {
      background-color: $blue-bayoux;
      h3 {
        display: inline-block;
        margin: 0;
        padding: 0;
        color: white;
      }
    }
  }
}
