.ReactModalPortal {
  width: auto;
  height: auto;
  .ReactModal__Overlay {
    background-color: transparent !important;
  }
  &:last-child {
    .ReactModal__Overlay {
      background-color: $modal-backdrop-color !important;
    }
  }
}

.ReactModal__Overlay {
  position: fixed;
  z-index: 100;

  display: flex;
  flex-direction: column;

  opacity: 0;

  flex: 1;
  align-items: center;
  justify-content: center;

  &--after-open {
    //transition: opacity 150ms ease-out;
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}

.modal-new {
  position: relative;

  overflow: hidden;

  min-width: $modal-default-width;

  color: $modal-text-color;
  border-radius: $modal-default-radius;
  outline: none;
  background-color: $modal-default-background;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .25);

  &__header {
    position: relative;
    //z-index: 5;

    box-sizing: border-box;
    height: $modal-header-height;
    padding: 18px 14px 18px 18px;

    user-select: none;

    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    &__title {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;

      display: inline-block;

      margin: 0;

      vertical-align: middle;

      color: $greyish-brown;
    }
    &__icon {
      //margin-top: -2px;
      //color: $dove-gray;
      //font-size: 20px;
      line-height: 24px;

      margin-right: 18px;
      margin-left: 2px;

      color: rgba(black, .4);
    }
    &__close,
    &__back {
      cursor: pointer;
    }

    .button {
      margin-top: -6px;
    }
  }

  &__body {
    //margin-bottom: 12px;
    padding-bottom: 6px;

    background-color: white;
    //box-shadow: 0 2px 1px rgba(0, 0, 0, .05), inset 0 1px 0 rgba(0,0,0,.06);
    &__list {
      margin: 0;
      padding: 0;

      list-style: none;
      li {
        font-size: 15px;
        line-height: 26px;

        padding: 10px 0;

        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .07);
        &:last-child {
          box-shadow: none;
        }
      }
    }

    .login__form__input {
      margin-bottom: 16px;
      label {
        color: rgba(0, 0, 0, .54) !important;
      }
    }
  }

  &__search {
    position: relative;
    .material-icons {
      font-size: 18px;
      line-height: 24px;

      position: absolute;
      top: 3px;
      left: 8px;

      pointer-events: none;

      color: rgba(black, .25);
    }
    .input {
      font-size: 14px;

      margin: 0;
      padding-left: 30px;

      color: rgba(black, .2);
      border: 1px solid $cloudy-blue;
      background-color: white;
      &:focus {
        color: $greyish-brown;
      }
    }
  }

  &__footer {
    padding: 16px;

    background-color: white;
    //box-shadow: inset 0 1px 0 0 rgba(0,0,0,.06)
  }

  &--profile {
    .modal-new__body {
      padding: 16px;
      //padding-bottom: 6px;
    }

    .name,
    .nick {
      font-size: 18px;

      margin-bottom: 6px;

      color: $modal-text-color;
      .login__form__input {
        margin-bottom: 0;
      }
    }
    .about {
      label {
        font-size: 12px;

        display: inline-block;

        margin-bottom: 6px;

        color: rgba(0, 0, 0, .5);
      }
    }

    .col-xs {
      padding: 0 16px 16px;
    }
    .profile-picture {
      padding: 16px;
      &__controls {
        a {
          font-size: 13px;
          font-weight: 500;

          cursor: pointer;

          color: $dark-sky-blue;
        }
      }
      &__changer {
        position: relative;

        margin-bottom: 8px;

        border-radius: 50%;
        .avatar {
          position: relative;
          z-index: 0;
          //transition: 200ms;
        }
        a {
          font-size: 11px;
          font-weight: 700;

          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;

          display: block;

          box-sizing: border-box;
          width: 100%;
          height: 100%;
          margin-bottom: 8px;
          padding-top: 50px;

          cursor: pointer;
          //transition: 200ms;
          text-transform: uppercase;

          color: white;
          border-radius: 50%;
          text-shadow: 0 0 4px rgba(black, .7);
          span {
            display: block;

            opacity: 0;
            //transition: 200ms;
            //transform: translateY(-5px);
          }
        }

        &:hover {
          .avatar {
            opacity: .5;
          }
          a {
            background-color: rgba(0, 0, 0, .1);
            //box-shadow: inset 0 0 64px 8px rgba(0, 0, 0, .4);
            span {
              transform: translateY(0);

              opacity: 1;
            }
          }
        }
      }
    }

    footer {
      padding: 0 16px 16px;
    }
  }
  &--create-group {
    .count {
      font-size: 12px;
      line-height: 14px;
      //margin-top: 12px;

      display: block;

      padding: 8px 16px;

      text-transform: uppercase;

      color: rgba($dorado, .5);
      background-color: white;
    }
    .group-members {
      .modal-new__body {
        padding: 0;
      }
    }

    .contacts__list {
      overflow-x: hidden;
      overflow-y: auto;

      max-height: 314px;
      .contacts__list__item:hover {
        background-color: white;
      }
      //box-shadow: inset 0 -1px 0 rgba(0,0,0,.07);

      //border-bottom: 1px solid rgba(0,0,0,.07);
    }

    footer {
      text-align: right;
    }

    .modal-new__body {
      padding: 0 16px;
    }
    .login__form__input {
      margin-bottom: 16px;
      label {
        color: rgba(0, 0, 0, .54) !important;
      }
    }
  }
  &--add-contact {
    .modal-new__body {
      padding: 0 16px;
    }
    .error-message {
      font-size: 14px;
      line-height: 20px;

      display: block;

      box-sizing: border-box;
      height: 0;
      padding: 0 16px;

      transition: opacity $default-transition-duration $default-transition-duration*.3 $default-transition-timing,
      height $default-transition-duration $default-transition-timing;

      opacity: 0;
      color: rgba(0, 0, 0, .25);
      background-color: white;
      &--shown {
        height: 40px;

        opacity: 1;
      }
    }
  }
  &--update {
    .modal-new__body {
      padding: 1px 24px;
      h1,
      h3 {
        font-weight: 300;
      }
    }
  }
  &--invite {
    .modal-new__body {
      padding: 18px;
      .link {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;

        display: inline-block;

        margin-top: 18px;

        vertical-align: middle;
        text-transform: uppercase;
        .material-icons {
          font-size: 22px;

          margin-right: 16px;
          margin-left: 5px;

          vertical-align: bottom;
        }
      }
    }
  }
  &--invite-by-link {
    .modal-new__header {
      .icon {
        cursor: pointer;
      }
    }
    .modal-new__body {
      font-size: 15px;

      padding: 18px;

      color: $greyish-brown;
      .invite-url {
        font-size: 15px;
        line-height: 20px;

        display: block;

        box-sizing: border-box;
        width: 100%;
        height: 58px;
        margin-top: 18px;
        padding: 8px 11px;

        resize: none;
        cursor: pointer;
        word-break: break-all;

        color: $greyish-brown;
        border: 1px solid $light-grey-blue;
        border-radius: 3px;
      }
    }
    .modal-new__footer {
      padding: 0 18px;

      @include clearfix();
      .button {
        width: 176px;
        margin-bottom: 18px;
      }
    }
  }
  &--preferences {
    .modal-new__body {
      padding: 0;

      background-color: $pale-grey;
      .preferences {
        display: flex;
        flex-direction: row;

        height: 440px;

        flex: 1;
        &__tabs {
          display: block;

          width: 190px;
          height: 100%;
          &__tab {
            font-size: 15px;
            line-height: 20px;

            display: block;

            padding: 10px 16px;

            cursor: pointer;

            color: $greyish-brown;
            &--active {
              color: white;
              background-color: $dark-sky-blue2;
            }
          }
        }
        &__body {
          display: flex;
          overflow-x: hidden;
          overflow-y: auto;

          padding: 0 0 0 80px;

          background-color: white;

          flex: 1;
        }
        &__list {
          width: 100%;
          &__item {
            display: none;
            ul {
              margin: 0;
              padding: 0;

              list-style: none;
              li {
                font-size: 15px;
                line-height: 24px;

                position: relative;

                padding: 32px 32px 32px 0;

                border-bottom: 1px solid rgba(black, .12);
                .icon {
                  line-height: 24px;

                  position: absolute;
                  top: 32px;
                  left: -52px;

                  color: rgba(black, .4);
                }
                .hint {
                  font-size: 13px;
                  line-height: 18px;

                  margin: 0;
                  padding-left: 32px;

                  color: rgba(black, .3);
                }
                &:last-child {
                  border-bottom: none;
                }
              }
            }
            h4 {
              font-size: 13px;
              font-weight: 500;
              line-height: 24px;

              display: inline-block;

              margin-top: 0;

              text-transform: uppercase;

              color: rgba(black, .4);
            }
            .radio {
              margin-bottom: 8px;
              b {
                font-weight: 500;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
            .checkbox {
              margin-bottom: 8px;
            }
            .session-list {
              margin: 0;
              padding: 0;

              list-style: none;
              a {
                cursor: pointer;
              }
              &__session {
                line-height: 24px;

                position: relative;

                margin-right: -32px;
                margin-bottom: 8px;
                padding: 0 32px 8px 0;
                &__terminate {
                  position: absolute;
                  top: 14px;
                  right: 32px;
                }
                .title {
                  small {
                    font-style: italic;

                    margin-left: 6px;
                  }
                }
                small {
                  font-size: 13px;

                  color: rgba(0, 0, 0, .3);
                  b {
                    font-weight: 400;

                    color: rgba(0, 0, 0, .5);
                  }
                }
              }
            }
            &--active {
              display: block;
            }
          }
        }
      }
    }
  }
  &--edit-group {
    .modal-new__body {
      padding: 16px;
      .col-xs {
        padding: 0 16px 16px;
      }
      .profile-picture {
        padding: 16px;
        &__controls {
          a {
            font-size: 13px;
            font-weight: 500;

            cursor: pointer;

            color: $dark-sky-blue;
          }
        }
        &__changer {
          position: relative;

          margin-bottom: 8px;

          border-radius: 50%;
          .avatar {
            position: relative;
            z-index: 0;
            //transition: 200ms;
          }
          a {
            font-size: 11px;
            font-weight: 700;

            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;

            display: block;

            box-sizing: border-box;
            width: 100%;
            height: 100%;
            margin-bottom: 8px;
            padding-top: 50px;

            cursor: pointer;
            //transition: 200ms;
            text-transform: uppercase;

            color: white;
            border-radius: 50%;
            text-shadow: 0 0 4px rgba(black, .7);
            span {
              display: block;

              opacity: 0;
              //transition: 200ms;
              //transform: translateY(-5px);
            }
          }

          &:hover {
            .avatar {
              opacity: .5;
            }
            a {
              background-color: rgba(0, 0, 0, .1);
              //box-shadow: inset 0 0 64px 8px rgba(0, 0, 0, .4);
              span {
                transform: translateY(0);

                opacity: 1;
              }
            }
          }
        }
      }
    }
    .about {
      label {
        font-size: 12px;

        display: inline-block;

        margin-bottom: 6px;

        color: rgba(0, 0, 0, .5);
      }
    }
  }
  &--profile-picture {
    max-width: 90%;
    max-height: 90%;
    .modal-new__body {
      line-height: 1px;

      overflow: hidden;

      padding: 0;
    }
  }
}

.contacts {
  .contacts__body {
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 410px;
    padding-bottom: 6px;
  }
  &__list {
    margin: 0;
    padding: 0;

    list-style: none;

    color: $greyish-brown;
    &__item {
      padding: 7px 16px;

      .avatar {
        margin: 0 12px 0 0;
      }
      .title {
        font-size: 15px;
        line-height: 32px;

        display: inline-block;
        .emoji-outer {
          width: 20px;
          height: 20px;
        }
      }
      .controls {
        text-align: center;
        .material-icons {
          font-size: 20px;
          line-height: 32px;

          display: block;

          width: 32px;
          height: 32px;
        }
        a {
          cursor: pointer;

          color: $dark-sky-blue;
          &:hover {
            color: $body-base-color;
          }
        }
      }

      &--member {
        user-select: none;

        opacity: .4;
      }
      &--empty {
        line-height: 32px;

        opacity: .4;
      }
    }
  }
}

// Confirm modal
.modal-backdrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  background-color: $modal-backdrop-color;

  flex: 1;
  align-items: center;
  justify-content: center;
}

.modal {
  overflow: hidden;

  min-width: $modal-default-width;
  &__header {
    position: relative;

    box-sizing: border-box;
    height: $modal-header-height;
    padding: 18px;

    user-select: none;

    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    &__title {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;

      display: inline-block;

      margin: 0;

      vertical-align: middle;

      color: $greyish-brown;
    }
  }
  &__body {
    padding: 16px 16px 8px;
  }
  &__footer {
    padding: 8px;
    .button {
      margin-left: 4px;
    }
  }

  &--confirm {
    border-radius: 2px;
    background-color: #fff;
  }
}

.crop-wrapper {
  position: relative;
  &__image-original {
    width: auto;
    min-width: 100%;
    max-width: 100%;
    height: auto;

    user-select: none;
    transform: scale(1.03);
    pointer-events: none;

    filter: blur(10px) saturate(.2);
  }
  &__overlay {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

    overflow: hidden;

    box-sizing: content-box;

    cursor: move;

    border-radius: 50%;
    box-shadow: 0 0 0 3px white;
    img {
      position: absolute;

      display: block;
    }
  }
  &__scale {
    position: absolute;
    z-index: 1000;

    user-select: none;
    pointer-events: none;

    $scale-handler-size: 18px;
    &__handler {
      position: absolute;

      display: block;

      width: $scale-handler-size;
      height: $scale-handler-size;

      content: '';
      pointer-events: auto;

      border-radius: 50%;
      background-color: white;
      //box-shadow: inset 0 0 0 2px white;
      &:hover {
        background-color: $dark-sky-blue;
      }
      &--top {
        top: -($scale-handler-size/2) - 2;
        left: 50%;

        margin-left: -$scale-handler-size/2;

        cursor: ns-resize;
      }
      &--right {
        top: 50%;
        right: -($scale-handler-size/2) - 2;

        margin-top: -$scale-handler-size/2;

        cursor: ew-resize;
      }
      &--bottom {
        bottom: -($scale-handler-size/2) - 2;
        left: 50%;

        margin-left: -$scale-handler-size/2;

        cursor: ns-resize;
      }
      &--left {
        top: 50%;
        left: -($scale-handler-size/2) - 2;

        margin-top: -$scale-handler-size/2;

        cursor: ew-resize;
      }
    }
  }
}
