.ReactModalPortal {
  width: auto;
  height: auto;
}
.ReactModal__Overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  background-color: $modal-backdrop-color;

  perspective: 600px;
  &--after-open {
    transition: opacity 150ms ease-out;

    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}

.ReactModal__Content {
  transform: scale(.5);

  &--after-open {
    transition: all 150ms ease-in;
    transform: scale(1);
  }
  &--before-close {
    transition: all 150ms ease-in;
    -webkit-transform: scale(.75);
  }
}

.modal-new {
  position: relative;

  overflow: hidden;

  width: $modal-default-width;
  //min-height: $modal-default-height;
  margin: 160px auto 0;

  color: $modal-text-color;
  border-radius: $modal-default-radius;
  outline: none;
  background-color: $modal-default-background;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.25);

  &__header {
    box-sizing: border-box;
    height: $modal-header-height;
    //margin-bottom: 12px;
    padding: 20px;

    background-color: white;
    //box-shadow: 0 2px 1px rgba(0, 0, 0, .05);

    &__close {
      margin-right: 20px;

      cursor: pointer;

      color: rgba(0,0,0,.75);
    }
    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;

      display: inline-block;

      margin: 0;

      vertical-align: middle;
    }
  }

  &__body {
    //margin-bottom: 12px;
    padding-bottom: 6px;

    background-color: white;
    //box-shadow: 0 2px 1px rgba(0, 0, 0, .05), inset 0 1px 0 rgba(0,0,0,.06);
    &__list {
      margin: 0;
      padding: 0;

      list-style: none;
      li {
        font-size: 15px;
        line-height: 26px;

        padding: 10px 0;

        box-shadow: inset 0 -1px 0 rgba(0,0,0,.07);
        &:last-child {
          box-shadow: none;
        }
      }
    }

    .login__form__input {
      margin-bottom: 16px;
      label {
        color: rgba(0,0,0,.54) !important;
      }
    }
  }

  &__footer {
    padding: 8px;
    background-color: white;
    //box-shadow: inset 0 1px 0 0 rgba(0,0,0,.06)
  }

  &--profile {
    .modal-new__body {
      padding-bottom: 6px;
    }

    .avatar {
      margin: 16px 23px 0 16px;
    }
    .name {
      font-size: 18px;
      //font-weight: 700;

      //margin-top: 24px;
      margin-bottom: 6px;
      margin-right: 16px;

      color: $modal-text-color;
      .login__form__input {
        margin-bottom: 0;
      }
    }
    .phone {
      //margin-bottom: 16px;
      margin-right: 16px;

      //color: $modal-text-light-color;
    }
  }
  &--create-group {
     .count {
       padding: 8px 16px;
       //margin-top: 12px;
       display: block;
       background-color: white;
       line-height: 14px;
       text-transform: uppercase;
       font-size: 12px;
       color: rgba($dorado, .5);
     }
    .group-members {
      .modal-new__body {
        padding: 0;
      }
    }

    .contacts__list {
      overflow-x: hidden;
      overflow-y: auto;

      max-height: 314px;
      .contacts__list__item:hover {
        background-color: white;
      }
      //box-shadow: inset 0 -1px 0 rgba(0,0,0,.07);

      //border-bottom: 1px solid rgba(0,0,0,.07);
    }

    footer {
      text-align: right;
    }

    .modal-new__body {
      padding: 0 16px;
    }
    .login__form__input {
      margin-bottom: 16px;
      label {
        color: rgba(0,0,0,.54) !important;
      }
    }

  }
  &--add-contact {
    .modal-new__body {
      padding: 0 16px;
    }
    .error-message {
      background-color: white;
      height: 0;
      opacity: 0;
      box-sizing: border-box;
      padding: 0 16px;
      line-height: 30px;
      display: block;
      font-size: 14px;
      color: rgba(0,0,0,.25);
      transition: opacity $default-transition-duration $default-transition-duration*.3 $default-transition-timing,
                  height $default-transition-duration $default-transition-timing;
      &--shown {
        height: 40px;
        opacity: 1;
      }
    }
  }
  &--update {
    .modal-new__body {
      padding: 1px 24px;
      h1, h3 {
        font-weight: 300;
      }
    }
  }
}

// TODO: refactor;
.modal {
  position: relative;

  overflow: hidden;

  width: $modalDefaultWidth;
  min-height: $modalDefaultHeight;
  margin: 160px auto 0;

  border-radius: $default-border-radius;
  outline: none;
  background-color: white;
  box-shadow: 0 3px 7px -5px rgba(0,0,0,.4);

  &__header {
    box-sizing: border-box;
    height: $modalHeaderHeight;
    padding: 12px 16px;

    text-align: initial;

    border-bottom: 1px solid rgba($body-base-color,.05);
    background-color: rgba(0,0,0,.05);
    &__close {
      font-size: 20px;
      line-height: 24px;

      position: absolute;
      z-index: 1;
      top: 18px;
      right: 16px;

      cursor: pointer;

      opacity: .7;
      color: $body-base-color;
      &:hover {
        opacity: .9;
      }
    }
    h3 {
      font-size: 16px;
      font-weight: 500;
      line-height: 36px;

      margin: 0;
      //text-transform: uppercase;
      //line-height: 28px;

      color: $body-base-color;
    }
  }
  &__body {
    padding: 0;

    text-align: initial;
  }

  &--profile {
    width: 300px;

    background-color: #dae2e3;
    .modal__body {
      padding: 16px;
      .avatar {
        display: block;

        margin: 30px auto 0;
      }
      .name-block {
        font-weight: 700;
        line-height: 24px;

        overflow: hidden;

        margin: 16px 0;
        padding: 0 16px;

        color: $body-base-color;

        &__name {
          position: relative;

          height: 24px;
          span {
            font-size: 16px;

            display: block;

            vertical-align: middle;
            text-overflow: ellipsis;
          }
          input {
            font-size: 16px;
            line-height: 24px;

            position: absolute;
            top: 0;
            left: 0;

            display: none;

            width: 100%;
            height: 24px;
            margin: 0;
            padding: 0;

            border: none;
            background-color: transparent;

            -webkit-appearance: none;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
          }
        }
        &__edit,
        &__save {
          font-size: 20px;
          line-height: 24px;

          margin-right: 16px;
          margin-left: 4px;

          cursor: pointer;
        }
        &__save {
          display: none;
        }

        &--editable {
          .name-block__edit {
            display: none;
          }
          .name-block__save {
            display: block;
          }
          .name-block__name {
            span {
              display: none;
            }
            input {
              display: block;

              outline: none;
              box-shadow: inset 0 -1px 0 $body-base-color;
            }
          }
        }
      }
    }
  }
}

.contacts {
  .modal__body {
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 360px;
  }
  &__list {
    font-weight: 500;

    margin: 0;
    padding: 0;

    list-style: none;

    color: $toolbar-text-color;
    &__item {
      padding: 0 10px 0 16px;

      border-bottom: 1px solid rgba(0,0,0,.05);
      &:hover {
        background-color: rgba($body-base-color, .04);
      }
      &:last-child {
        border-bottom: 0;
      }
      .avatar {
        margin: 6px 12px 6px 0;
      }
      .title {
        font-size: 15px;
        line-height: 32px;

        display: inline-block;

        margin-top: 6px;
      }
      .controls {
        padding-top: 6px;

        text-align: center;
        a {
          line-height: 32px;

          display: block;

          width: 32px;
          height: 32px;

          cursor: pointer;

          color: lighten($body-base-color,10);
          &:hover {
            color: $body-base-color;
          }
        }
      }
    }
  }
}
