$preloaderMaxHeight: 20px;
$preloaderColor: white;

@keyframes line-scale {
  0%, 40%, 100% {
    -webkit-transform: scaleY(.4);
    transform: scaleY(.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.preloader {
  //height: $preloaderMaxHeight;
  display: inline-block;

  background-color: rgba(0,0,0,.2);
  height: $preloaderMaxHeight + 20px;
  width: $preloaderMaxHeight + 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  div {
    position: relative;
    box-sizing: content-box;
    color: $preloaderColor;
    background: $preloaderColor;
    border: 0 solid $preloaderColor;
    display: inline-block;
    width: 2px;
    height: $preloaderMaxHeight;
    margin: 0 1px;
    float: left;
    border-radius: 0;
    animation: line-scale 1.2s infinite ease;
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: -(1.3s - ($i * .1));
      }
    }
    //&:nth-child(1) {
    //  animation-delay: -1.2s;
    //}
    //&:nth-child(2) {
    //  animation-delay: -1.1s;
    //}
    //&:nth-child(3) {
    //  animation-delay: -1s;
    //}
    //&:nth-child(4) {
    //  animation-delay: -.9s;
    //}
    //&:nth-child(5) {
    //  animation-delay: -.8s;
    //}
  }
  &:after {
    display: table;
    line-height: 0;
    clear: both;
    content: "";
  }
}
