.sidebar {
  position: relative;

  overflow: auto;

  width: $sidebar-width;
  height: 100%;

  color: $sidebar-text-color;
  background-color: $kashmir-blue;

  &__header {
    transition: background $default-transition-duration $default-transition-timing;

    &__user {
      height: $sidebar-header-height;
      padding: 2px 16px;

      background-color: $sidebar-header-hover-color;

      .avatar {
        margin: 14px 8px 14px 0;
      }

      &__name {
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;

        overflow-x: hidden;

        margin: 14px 0;

        vertical-align: middle;
        text-overflow: ellipsis;

        color: white;
      }
      &__expand {
        width: 24px;
        height: 24px;
        margin: 18px 0;

        transition: transform $default-transition-duration $default-transition-timing;
        vertical-align: middle;

        color: rgba(255,255,255,.65);
      }
    }
    &__menu {
      position: absolute;
      z-index: 5;
      top: 60px;
      left: 0;

      display: none;

      box-sizing: border-box;
      width: 100%;
      margin: 0;
      padding: 0 0 6px;

      list-style: none;

      color: whitesmoke;
      background-color: $sidebar-header-hover-color;

      &__item {
        line-height: 24px;

        padding: 6px 16px;

        transition: background $default-transition-duration $default-transition-timing;
        .material-icons {
          margin: 0 12px 0 4px;

          color: $pigeon-post;
        }
        span {
          font-size: 15px;
          font-weight: 500;

          display: inline-block;
        }
        &:hover {
          background-color: rgba(0,0,0,.1);
        }
      }
    }

    &--clickable {
      cursor: pointer;
    }
    &--opened {
      background-color: $sidebar-header-hover-color;
      .sidebar__header__user__expand {
        transform: scale(1, -1);

        backface-visibility: hidden;
      }
      .sidebar__header__menu {
        display: block;
      }
    }
  }

  &__tabs {
    position: absolute;
    top: $toolbar-height;
    left: 0;
    right: 0;
    bottom: 0;
    .tabs-menu {
      height: $sidebar-tabs-height;
      margin: 0;
      padding: 0;

      list-style: none;

      background-color: $sidebar-header-hover-color;
      .tabs-menu-item {
        float: left;

        width: 50%;
        margin: 0;
        padding: 0;
        a {
          font-size: 14px;
          font-weight: 500;
          line-height: $sidebar-tabs-height;

          display: block;

          cursor: pointer;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;

          color: rgba(255,255,255,.75);
          &:hover {
            color: white;
          }
        }
        &.is-active {
          box-shadow: inset 0 -2px 0 0 white;
          a {
            color: white;
          }
        }
      }
    }
    //.tab-panel {
    //  position: relative;
    //  height: 100%;
    //}

    &__tab-items {
      & > div {
        text-transform: uppercase;
      }
    }
    &__tab-content {
      position: absolute;
      top: 48px;
      bottom: 0;
      width: 100%;
      & > div {
        position: absolute !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  &__list {
    font-weight: 500;
    line-height: 24px;

    overflow: auto;

    margin: 0;
    padding: 0;

    list-style: none;
    &__title {
      font-size: 15px;
      font-weight: 500;

      padding-left: 16px;

      text-transform: uppercase;
    }
    &__item {
      font-size: 15px;

      padding: 8px 16px;

      cursor: pointer;
      //transition: color $defaultTransitionDuration $defaultTransitionTiming, font-weight $defaultTransitionDuration $defaultTransitionTiming;
      .avatar {
        margin: 0 12px 0 4px;

        vertical-align: top;
      }
      .title {
        overflow: hidden;

        text-overflow: ellipsis;
      }
      .counter {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;

        display: inline-block;

        box-sizing: border-box;
        min-width: 24px;
        height: 24px;
        margin: 0 0 0 2px;

        text-align: center;

        color: white;
        border-radius: 12px;
        background-color: $cornflower-blue;
        padding: 0 4px;
      }
      &:hover {
        color: white;
        background-color: rgba(0,0,0,.1);
        box-shadow: none;
      }
      &--active {
        color: white;
        background-color: #6c839d !important;
      }
      &--unread {
        color: white;
      }
    }

    &--recent {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 64px;
      left: 0;
    }
    &--contacts {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 64px;
      left: 0;
      .title {
        line-height: 32px;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;

    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    .button {
      i {
        margin-top: -4px;
      }
    }
  }
}
