.sidebar {
  position: relative;

  overflow: auto;

  width: $sidebarWidth;

  color: $sidebarTextColor;
  background-color: $kashmir-blue;

  &__header {
    transition: background $defaultTransitionDuration $defaultTransitionTiming;

    &__user {
      height: $toolbar-height;
      padding: 2px 16px;

      background-color: $sidebarHeaderHoverColor;

      .avatar {
        margin: 14px 8px 14px 0;
      }

      &__name {
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;

        overflow-x: hidden;

        margin: 14px 0;

        vertical-align: middle;
        text-overflow: ellipsis;

        color: white;
      }
      &__expand {
        width: 24px;
        height: 24px;
        margin: 18px 0;

        transition: transform $defaultTransitionDuration $defaultTransitionTiming;
        vertical-align: middle;

        color: rgba(255,255,255,.65);
      }
    }
    &__menu {
      position: absolute;
      z-index: 5;
      top: 60px;
      left: 0;

      display: none;

      box-sizing: border-box;
      width: 100%;
      margin: 0;
      padding: 0 0 6px;

      list-style: none;

      color: whitesmoke;
      background-color: $sidebarHeaderHoverColor;

      &__item {
        line-height: 24px;

        padding: 6px 16px;

        transition: background $defaultTransitionDuration $defaultTransitionTiming;
        .material-icons {
          color: $pigeon-post;
          margin: 0 12px 0 4px;
        }
        span {
          font-size: 15px;
          font-weight: 500;
          display: inline-block;
        }
        &:hover {
          background-color: rgba(0,0,0,.1);
        }
      }
    }

    &--clickable {
      cursor: pointer;
    }
    &--opened {
      background-color: $sidebarHeaderHoverColor;
      .sidebar__header__user__expand {
        transform: scale(1, -1);

        backface-visibility: hidden;
      }
      .sidebar__header__menu {
        display: block;
      }
    }
  }

  &__list {
    font-weight: 500;
    line-height: 24px;

    position: absolute;
    top: $toolbar-height;
    right: 0;
    bottom: 64px;
    left: 0;

    overflow: auto;

    margin: 0;
    padding: 0;

    list-style: none;
    &__title {
      font-size: 15px;
      font-weight: 500;

      padding-left: 16px;

      text-transform: uppercase;
    }
    &__item {
      font-size: 15px;

      padding: 8px 16px;

      cursor: pointer;
      //transition: color $defaultTransitionDuration $defaultTransitionTiming, font-weight $defaultTransitionDuration $defaultTransitionTiming;
      .avatar {
        margin: 0 12px 0 4px;

        vertical-align: top;
      }
      .title {
        overflow: hidden;

        text-overflow: ellipsis;
      }
      .counter {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;

        display: inline-block;

        box-sizing: border-box;
        min-width: 24px;
        height: 24px;
        margin: 0 0 0 2px;

        text-align: center;

        color: white;
        border-radius: 100%;
        background-color: $cornflower-blue;
      }
      &:hover {
        color: white;
        background-color: rgba(0,0,0,.1);
        box-shadow: none;
      }
      &--active {
        color: white;
        background-color: #6c839d !important;
      }
      &--unread {
        color: white;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;

    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    .button {
      i {
        margin-top: -4px;
      }
    }
  }
}
