.status {
  font-size: 14px;

  display: inline-block;

  width: 16px;
  height: 16px;

  user-select: none;

  &--pending {
    color: $message-state-color;
  }
  &--sent {
    color: $message-state-color;
  }
  &--received {
    color: $message-state-color;
  }
  &--read {
    color: $body-base-color;
  }
  &--error {
    color: $color-red;
  }
}
