.status {
  font-size: 14px;

  display: inline-block;

  width: 16px;
  height: 16px;

  &--penging {
    color: $message-service-text-color;
  }
  &--sent {
    color: $message-service-text-color;
  }
  &--received {
    color: $message-service-text-color;
  }
  &--read {
    color: $body-base-color;
  }
  &--error {
    color: $color-red;
  }
}
