.toolbar {
  font-size: 14px;

  position: relative;
  z-index: 10;

  box-sizing: border-box;
  height: $toolbar-height;
  margin: 0;
  padding: 0 0 0 16px;

  color: $toolbar-text-color;
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.08);

  //&:after {
  //  position: absolute;
  //  bottom: -16px;
  //  left: 0;
  //
  //  display: block;
  //
  //  width: 100%;
  //  height: 16px;
  //
  //  content: '';
  //
  //  background-color: transparent;
  //  background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  //}


  &__peer {
    //display: inline-block;
    .avatar {
      margin: 16px 16px 16px 0;
    }
    a > .avatar {
      cursor: pointer;
    }
    &__body {
      display: inline-block;

      vertical-align: middle;
    }
    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;

      display: inline-block;
      overflow: hidden;

      padding-top: 12px;

      text-overflow: ellipsis;
    }
    &__presence {
      font-size: 14px;
      line-height: 16px;

      display: block;

      margin-top: 3px;

      color: $toolbar-secodary-text-color;
    }
  }

  &__controls {
    box-sizing: border-box;
    width: $activity-width;
    margin-top: 14px;
    padding-right: 16px;
    &__search {
      position: relative;

      width: 240px;
      .material-icons {
        font-size: 18px;
        line-height: 24px;

        position: absolute;
        top: 6px;
        left: 10px;

        pointer-events: none;

        color: rgba(black, .25);
      }
      .input {
        padding-left: 34px;
      }
    }
    //&__buttons {}
  }
}
