.typing {
  position: absolute;
  z-index: 11;
  bottom: 140px;

  display: block;

  width: 100%;
  height: $typing-height;
  padding: 0 32px;

  transition: opacity $default-transition-duration $default-transition-timing;

  opacity: 1;
  color: $color-empty;
  i {
    line-height: $typing-height;

    margin: 0 18px 0 20px;

    vertical-align: middle;
  }
  span {
    font-size: 14px;
    line-height: $typing-height;

    display: inline-block;

    vertical-align: middle;
  }
  &--hidden {
    opacity: 0;
  }
}
