// Defaults
$default-padding: 16px;
$default-border-radius: 3px;
$default-transition-duration: 400ms;
$default-transition-timing: cubic-bezier(.25,.8,.25,1);
$default-avatar-size: 40px;

// Colors
$havelock-blue: #4a90e2;
$kashmir-blue: #516d90;
$blue-bayoux: #486181;
$bismark: #446186;
$dove-gray: #656565;
$pigeon-post: #adc2dc;
$mine-shaft: #393939;
$cornflower-blue: #599cf1;
// Placeholder color
$color-empty: #b8b8b8;
$color-lblue: #59a2be;
$color-blue: #2093cd;
$color-purple: #ad62a7;
$color-red: #f16364;
$color-orange: #f9a43e;
$color-yellow: #e4c62e;
$color-green: #67bf74;


// Body
$body-background-color: $bismark;
$body-base-color: $bismark;
$body-min-height: 600px;
$typing-height: 24px;

// Toolbar
$toolbar-height: 64px;
$toolbar-text-color: $mine-shaft;
$toolbar-secodary-text-color: #797979;

// Avatars
$avatar-tiny-size: 24px;
$avatar-small-size: 32px;
$avatar-big-size: 60px;
$avatar-huge-size: 200px;
$avatar-square-size: 250px;

// Forms
$input-border-color: rgb(216, 216, 216);

// Buttons
$button-border-radius: $default-border-radius;
$button-text-color: rgb(144, 144, 144);

// Sidebar
$sidebar-width: 250px;
$sidebar-header-height: 64px;
$sidebar-tabs-height: 46px;
$sidebar-text-color: white;
//$sidebarHeaderHoverColor: rgba(0,0,0,.1);
$sidebar-header-hover-color: rgb(72,97,129); // Must be non transparent

// Right aside block
$activity-width: 300px;

// Messages
$message-sender-text-color: $mine-shaft;
$message-text-color: $dove-gray;
$message-service-text-color: rgb(190,190,190);
$message-document-icon-size: 64px;

// Modal
$modal-default-width: 400px;
//$modal-default-height: 300px;
$modal-default-background: rgb(250,250,250);
$modal-default-radius: 4px;
$modal-backdrop-color: rgba(0,0,0,.6);
$modal-header-height: 64px;
$modal-text-color: rgba(57,57,57,.85);
$modal-text-light-color: rgba(57,57,57,.6);

// Login
$login-text-color: #8ba8cb;
$login-input-color: #659ee1;

// Old Modals
// TODO: remove camelcased vars when all old modals removed
$modalBackdropColor: rgba(darken($body-base-color,20),.4);
$modalHeaderHeight: 60px;
$modalDefaultWidth: 350px;
$modalDefaultHeight: 300px;

// Compose
$compose-message-height: 80px;
