<div flex ng-controller="chatsController as chats">
  <md-subheader class="">Opened chats</md-subheader>
  <md-list layout-padding flex class="chatlist">
      <md-list-item ng-repeat="chat in chats.list" class="chatlist__item">
        <div class="chatlist__avatar">
          <img class="md-avatar" ng-src="{{ chat.avatar }}" alt="{{ chat.peer.title }}" ng-if="chat.avatar" />
          <div class="no-avatar" ng-if="!chat.avatar" style="background-color: {{ chat.peer.placeholder }}">
            <span>{{ chat.peer.title | limitTo:1 }}</span>
          </div>
        </div>
        <div class="md-list-item-text chatlist__text" flex>
            <h3 layout="row">
              <span flex class="chatlist__text__title">{{ chat.peer.title }}</span>
              <time class="chatlist__text__timestamp">{{ chat.date }}</time>
            </h3>
            <p>{{ chat.text }}</p>
        </div>
      </md-list-item>
  </md-list>
</div>
