<div flex ng-controller="chatsController as chats">
  <md-subheader class="">Opened chats</md-subheader>
  <md-list flex class="chatlist">
      <md-list-item class="chatlist__item"
                    ng-repeat="chat in chats.list"
                    ng-class="{'chatlist__item--selected' : chat.peer.peer==chats.selectedChat}"
                    ng-click="chats.selectChat(chat.peer.peer)">
        <div class="chatlist__avatar">
          <img class="md-avatar" ng-src="{{ chat.avatar }}" alt="{{ chat.peer.title }}" ng-if="chat.avatar" />
          <div class="no-avatar" ng-if="!chat.avatar" style="background-color: {{ chat.peer.placeholder }}">
            <span>{{ chat.peer.title | limitTo:1 }}</span>
          </div>
        </div>
        <div class="md-list-item-text chatlist__text" flex>
            <h3 layout="row" class="chatlist__text__title">
              <span flex >
                <md-icon md-svg-icon="bower_components/material-design-icons/social/svg/production/ic_group_24px.svg"
                         ng-if="chat.peer.peer.type == 'group'"></md-icon>
                {{ chat.peer.title }}
              </span>
              <time class="chatlist__text__title__timestamp">{{ chat.date }}</time>
            </h3>
            <p>{{ chat.text }}</p>
        </div>
      </md-list-item>
  </md-list>
</div>
