<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="app.openSidebar()" ng-if="app.$mdMedia('sm')" class="md-icon-button" aria-label="Menu">
      <md-icon md-svg-icon="assets/img/icons/ic_menu_24px.svg"></md-icon>
    </md-button>

    <div class="info" layout="row" ng-if="app.info">
      <div class="avatar avatar--small">
        <img class="avatar__image" ng-src="{{app.info.avatar}}" alt="{{app.info.name}}" ng-if="app.info.avatar"/>
        <span class="avatar__placeholder avatar__placeholder--{{app.info.placeholder}}"
              ng-bind="app.info.name|limitTo:1"></span>
      </div>
      <div class="info__body" flex>
        <p class="info__name">{{app.info.name}}</p>

        <p class="info__presence">{{app.info.presence}}</p>
      </div>
    </div>


    <!-- <md-button class="md-icon-button" aria-label="Keyboard" ng-click="app.showCompose()">
        <md-icon md-svg-icon="assets/img/ic_keyboard_24px.svg"></md-icon>
    </md-button> -->

    <span flex></span>

    <md-button class="md-icon-button" aria-label="Fullscreen" ng-click="main.toggleFullScreen()">
      <md-icon md-svg-icon="assets/img/icons/ic_fullscreen_24px.svg" ng-show="!main.isFullScreen"></md-icon>
      <md-icon md-svg-icon="assets/img/icons/ic_fullscreen_exit_24px.svg" ng-show="main.isFullScreen"></md-icon>
    </md-button>

  </div>
</md-toolbar>
