<div class="md-toolbar-tools">
    <md-button ng-click="main.openSidebar()" ng-if="main.$mdMedia('sm')" class="md-icon-button" aria-label="Menu">
        <md-icon md-svg-icon="assets/img/icons/ic_menu_24px.svg"></md-icon>
    </md-button>

    <div class="user user--padded-left" layout="row">
        <div class="user__avatar avatar avatar--small avatar--green">
            <span>S</span>
        </div>
        <div class="user__body" flex>
          <p class="user__name">Conversation title</p>
          <p class="user__profile-link">10 members, 1 online</p>
        </div>
      </div>


    <!-- <md-button class="md-icon-button" aria-label="Keyboard" ng-click="main.showCompose()">
        <md-icon md-svg-icon="assets/img/ic_keyboard_24px.svg"></md-icon>
    </md-button> -->

    <span flex></span>

    <md-button class="md-icon-button" aria-label="Attachments">
        <md-icon md-svg-icon="assets/img/icons/ic_insert_drive_file_24px.svg"></md-icon>
        Attachments
    </md-button>

</div>
