<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.actor.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application>

        <!-- Auth -->

        <activity
            android:name=".controllers.auth.AuthActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".controllers.auth.PickCountryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <!-- Chat -->

        <activity
            android:name=".controllers.root.RootActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="quit.email"
                    android:pathPrefix="/join/"
                    android:scheme="https" />
                <data
                    android:host="actor.im"
                    android:pathPrefix="/join/"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="actor" />
            </intent-filter>

        </activity>

        <activity
            android:name=".controllers.share.ShareActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

        </activity>

        <activity
            android:name="im.actor.sdk.controllers.conversation.ChatActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/ChatActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <!-- Profiles -->

        <activity
            android:name=".controllers.profile.ProfileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/ProfileActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden">

        </activity>

        <activity
            android:name=".controllers.group.GroupInfoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/ProfileActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".controllers.group.GroupEditActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".controllers.group.GroupAdminActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".controllers.group.GroupTypeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".controllers.group.GroupPermissionsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".controllers.group.MembersActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".controllers.settings.MyProfileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/ProfileActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <!-- Compose -->

        <activity
            android:name=".controllers.compose.ComposeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".controllers.group.AddMemberActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".controllers.group.InviteLinkActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".controllers.contacts.InviteActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".controllers.compose.CreateGroupActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <activity
            android:name=".controllers.contacts.ContactsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <!-- Settings -->

        <activity
            android:name=".controllers.settings.NotificationsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".controllers.settings.ChatSettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name="im.actor.sdk.controllers.fragment.help.HelpActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".controllers.settings.SecuritySettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name=".controllers.settings.BlockedListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <!-- Media -->

        <activity
            android:name="im.actor.sdk.controllers.fragment.preview.ViewAvatarActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <activity
            android:name="im.actor.sdk.controllers.fragment.preview.PictureActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/PictureFullscreenTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="im.actor.sdk.controllers.fragment.preview.CodePreviewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <!-- Actions -->
        <activity
            android:name=".controllers.settings.EditNameActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name=".controllers.settings.PickWallpaperActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".controllers.settings.EditAboutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name=".controllers.contacts.AddContactActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <!-- Misc -->
        <activity
            android:name=".controllers.pickers.TakePhotoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Transparent" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />


        <activity
            android:name="im.actor.sdk.controllers.pickers.file.FilePickerActivity"
            android:label="@string/picker_file_activity_title"
            android:theme="@style/PickerTheme.FilePicker" />

        <activity
            android:name=".controllers.shortcuts.ShortcutActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppcompatNoDisplay">
            <intent-filter>
                <action android:name="im.actor.action.botMessageShortcut" />

            </intent-filter>
        </activity>

        <activity
            android:name=".controllers.calls.CallActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:theme="@style/CallTheme" />

        <service
            android:name="im.actor.sdk.services.KeepAliveService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="im.actor.sdk.push.ActorPushService"
            android:enabled="true"
            android:exported="true"
            android:process=":actor_push" />

        <receiver
            android:name=".receivers.ChromeCustomTabReceiver"
            android:enabled="true" />

        <receiver
            android:name="im.actor.sdk.receivers.SDKPushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="im.actor.push.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>



        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="im.actor.sdk.push.BaiDuPushMessageReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>

        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />

        <!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名 -->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="im.actor.develop.bdpush"
            android:exported="true"
            android:protectionLevel="signature"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.im.actor.develop" />

        <!-- 百度push结束 -->



        <!-- 华为HMS接入华为push -->


        <!-- APPID -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="10858744" />

        <!-- 升级provider, 向安装器提供"content://<package.name>.hsf.update.provider/update/hms/HwMobileService.apk" -->
        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="im.actor.develop.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" />
        <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播 -->
        <receiver android:name="im.actor.sdk.push.HuaWeiPushReceiver">
            <intent-filter>

                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看push通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>

            <meta-data
                android:name="CS_cloud_ablitity"
                android:value="@string/hwpush_ability_value" />
        </receiver>
        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>

                <!-- 接收通道发来的通知栏消息，兼容老版本Push -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>

        <!-- 华为推送结束 -->

        <!--小米推送-->
        <service
            android:enabled="true"
            android:process=":actor_xm_pushservice"
            android:name="com.xiaomi.push.service.XMPushService"/>
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":actor_xm_pushservice" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />
        <service android:enabled="true"
            android:name="com.xiaomi.mipush.sdk.MessageHandleService" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:exported="true"
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="false"
            android:process=":actor_xm_pushservice"
            android:name="com.xiaomi.push.service.receivers.PingReceiver" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="im.actor.sdk.push.XiaoMiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>


        <!--小米推送结束-->

    </application>
</manifest>