.user-menu {
  // transition: background $default-transition-duration $default-transition-timing;
  &__avatar {
    margin-right: 8px;
  }

  &__name {
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    line-height: 24px;
    vertical-align: top;

    color: white;
  }
  &__icon {
    line-height: 24px;

    transition: transform $default-transition-duration $default-transition-timing;
    vertical-align: middle;

    color: white;

    backface-visibility: hidden;
  }

  .dropdown__menu {
    top: 8px;
  }

  &--opened {
    background-color: rgba($baby-blue, .2) !important;
    .user-menu__icon {
      line-height: 24px;

      transform: scaleY(-1);
      vertical-align: middle;
    }
  }
}
