<md-toolbar>
  <div class="md-toolbar-tools">
    <div class="user" layout="row">

      <div class="avatar avatar--small">
        <img class="avatar__image" ng-src="{{ app.user.avatar }}" alt="{{ app.user.name }}" ng-if="app.user.avatar"/>
        <span class="avatar__placeholder avatar__placeholder--{{app.user.placeholder}}"
              ng-bind="app.user.name | limitTo:1"></span>
      </div>
      <div class="user__body" flex>
        <p class="user__name user__name--single">{{ app.user.name }}</p>
        <!-- <a class="user__profile-link" href="">My profile</a> -->
      </div>
    </div>

    <span flex></span>

    <!--<md-button class="md-icon-button" aria-label="New message">-->
    <!--<md-icon md-svg-icon="assets/img/icons/ic_message_24px.svg"></md-icon>-->
    <!--</md-button>-->
    <!--<md-button class="md-icon-button" aria-label="Menu">-->
    <!--<md-icon md-svg-icon="assets/img/icons/ic_more_vert_24px.svg"></md-icon>-->
    <!--</md-button>-->

    <md-button class="md-icon-button" aria-label="Exit" ng-click="app.actorService.setLoggedOut()">
      <md-icon md-svg-icon="assets/img/icons/ic_exit_to_app_24px.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-content ng-include="'app/shared/dialogs/dialogsView.html'" flex layout="column"></md-content>
