.pagination {
  display: inline-block;

  user-select: none;
  &__control {
    display: inline-block;

    cursor: pointer;

    color: $greyish;
    &:hover {
      color: rgba(black, .5);
    }
    &--disabled {
      cursor: default;

      color: rgba(black, .1) !important;
    }
  }
  &__pager {
    line-height: 24px;

    display: inline-block;

    padding: 0 6px;

    vertical-align: middle;
  }
}
