@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300&subset=latin,cyrillic);
@import 'variables';
@import '../../bower_components/normalize.css/normalize.css';

html {
  background-color: $bodyColor;
  background-image: linear-gradient(0 ,$baseColor 0%, $baseColor 100%);
  background-size: 100% 300px;
  background-repeat: no-repeat;
}
body {
  background-color: transparent;
  padding: 24px;
  text-rendering: optimizeLegibility;
  transition: padding .4s cubic-bezier(.25,.8,.25,1);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  @media (max-height: 600px) {
    padding-top: 0;
    padding-bottom: 0;
    .main {
      border-radius: 0;
    }
  }
  @media (max-width: 1024px) {
    padding: 0;
  }
}

.main {
  margin: 0 auto;
  background: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  box-shadow: 0 1px 1px rgba(97, 127, 152, .2), 1px 0 0 rgba(97, 127, 152, 0.1), -1px 0 0 rgba(97, 127, 152, 0.1);
  @media (max-width: 1024px) {
    width: 100%;
    border-radius: 0;
    overflow: visible;
  }
}

md-toolbar.md-default-theme {
  background-color: rgb(250,250,250);
  border-bottom: 1px solid rgb(239,239,239);
  box-shadow: none;
  min-height: 56px;
  md-icon {
    color: rgb(160,160,160);
  }
  .md-toolbar-tools {
    height: 56px;
    max-height: 56px;
    color: rgb(160,160,160);
      font-size: 16px;
    & > .md-button:first-child {
      margin-left: -4px;
      margin-right: 8px;
    }
    & > .md-button {
      margin-right: -4px;
      margin-left: 8px;
    }

  }
}

.login-image {
  background-image: url(/assets/img/auth-splash.jpg);
  background-position: 30% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}
.login {
  form {
    padding: 0 16px 16px;
    max-width: 360px;
    p {
      text-align: center;
      padding: 0 4px;
      font-size: 20px;
      color: rgba(0,0,0,.4);
      font-weight: 400;
      line-height: 36px;
    }
  }
}

.md-subheader {
  &.md-no-sticky {
    &:after {
      box-shadow: none;
      animation: none !important;
    }
    &.md-sticky-clone {
      display: none;
    }
  }
  &.md-sticky-clone {
    padding-top: 17px;
  }
  &:not(.md-sticky-no-effect)[sticky-state=active] {
    margin-top: 0;
  }
}

.md-button {
  &.md-primary {
    background-color: $baseColor !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26) !important;
    font-size: 14px;
    &:hover {
      box-shadow: 0 8px 17px rgba(0, 0, 0, .2) !important;
    }
  }
  &.md-big {
    line-height: 36px;
    padding: 0 16px;
  }
  &.md-wide {
    width: 100%;
  }
  &.md-icon-button {
    color: inherit !important;
    text-transform: inherit;
    font-size: 14px;
    font-weight: 500;
    span {
      vertical-align: middle;
      padding-right: 4px;
    }
  }
}

.md-default-theme {
  .md-input-focused {
    label {
      color: $baseColor !important;
    }
    .md-input {
      border-color: $baseColor !important;
    }
  }
}

md-list {
  display: block;
  padding: 8px 0 !important;
}
md-list-item {
  padding: 0 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  &.md-3-line {
    text-overflow: ellipsis;
    align-items: flex-start;
  }
  > .md-avatar {
    width: 40px;
    height: 40px;
    margin: 8px 16px 8px 0;
    border-radius: 50%;
    box-sizing: content-box;
    overflow: hidden;
  }
  > .md-list-item-text {
    margin: 8px 0;
    h3 {
      color: rgba(0,0,0,.85);
      font-size: 16px;
      height: 12px;
      font-weight: 500;
      line-height: 12px;
      margin: 4px 0 6px;
    }
    h4 {
      font-size: 14px;
      font-weight: normal;
      height: 10px;
      line-height: 10px;
      margin: 10px 0 5px;
    }
    p {
      color: rgb(37,37,37);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin: 4px 0 0;
    }
  }
}

.md-sidenav-left {
  border-radius: 4px 0 0 4px;
  @media (max-width: 1024px) {
    border-radius: 0;
  }
}
