$bodyColor: rgb(231,235,240);
$baseColor: rgb(60,90,134);


// Placeholder color
$emptyColor: #b8b8b8;
$lblueColor: #59a2be;
$blueColor: #2093cd;
$purpleColor: #ad62a7;
$redColor: #f16364;
$orangeColor: #f9a43e;
$yellowColor: #e4c62e;
$greenColor: #67bf74;
