services {
  postgresql {
    host: "postgres"

    db: "postgres"

    user: "postgres"

    password: ""
  }

  activation {
    default-service: actor-activation
  }

  activation-gate {
    uri: "https://activation-gw.actor.im"
    auth-token: "FPEinjrmxsq1ZDyu1bc7"
  }
}

secret: <put a long random string here>

